<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:rtkv="http://www.ibm.com/rules/decisionservice/RTKVapp/RTKV" xmlns:par="http://www.ibm.com/rules/decisionservice/RTKVapp/RTKV/param">
    <soapenv:Header/>
    <soapenv:Body>
        <rtkv:RTKVRequest>
            <par:agent>
                <agent>
                    <agentName>ООО НЕЗАВИСИМОСТЬ-ФИНС.</agentName>
                    <exposition/>
                </agent>
            </par:agent>
            <par:bonus>
                <bonus>
                    <addonSize/>
                    <calculatedSize/>
                    <earnedSize/>
                    <paidSize/>
                    <totalSize/>
                </bonus>
            </par:bonus>
            <par:calculation>
                <calculation>
                    <contractState/>
                    <date>2014-07-01T00:00:00</date>
                    <success/>
                    <userName>Пример логина</userName>
                    <userRole></userRole>
                </calculation>
            </par:calculation>
            <par:company>
                <company>
                    <companyName>ОАО "Альфастрахование"</companyName>
                </company>
            </par:company>
            <par:distribution>
                <distribution>
                    <channel>5</channel>
                </distribution>
            </par:distribution>
            <par:doo>
                <doo>
                    <aggregateAmount/>
                    <baseRatePercent/>
                    <bonusValue/>
                    <bonusValueCalculation/>
                    <c2c4/>
                    <calculatedFranchise/>
                    <category/>
                    <commissionMultiplier>0</commissionMultiplier>
                    <currentKBM>0</currentKBM>
                    <finalRate/>
                    <franchiseSize>0</franchiseSize>
                    <insuaranceBonus>0</insuaranceBonus>
                    <KBM/>
                    <kpark>1</kpark>
                    <parkLegalEntities/>
                    <risk>true</risk>
                    <sumSize>50000</sumSize>
                    <underwritingDiscount>1</underwritingDiscount>
                </doo>
            </par:doo>
            <par:gap>
                <gap>
                    <baseRatePercent/>
                    <insuranceBonus/>
                </gap>
            </par:gap>
            <par:go>
                <go>
                    <aggregateAmount/>
                    <baseRateSize/>
                    <bonusValue/>
                    <bonusValueCalculation/>
                    <c2c4/>
                    <calculatedFranchise/>
                    <commissionMultiplier>1</commissionMultiplier>
                    <currentKBM>0</currentKBM>
                    <finalRate/>
                    <franchiseSize>0</franchiseSize>
                    <insuaranceBonus>0</insuaranceBonus>
                    <KBM/>
                    <kpark>1</kpark>
                    <parkLegalEntities/>
                    <risk>true</risk>
                    <sumSize>450000</sumSize>
                    <underwritingDiscount>1</underwritingDiscount>
                </go>
            </par:go>
            <par:greencard>
                <greencard>
                    <aggregateAmount/>
                    <compensationForReason/>
                    <insuaranceBonus/>
                    <previousInsuranceBonus/>
                    <sumSize/>
                </greencard>
            </par:greencard>
            <par:harm>
                <harm>
                    <previousRegressLossesList xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
                    <aggregateAmount/>
                    <avaragePayment/>
                    <baseRatePercent/>
                    <bonusValue/>
                    <bonusValueCalculation/>
                    <c2c4/>
                    <calculatedFranchise/>
                    <commissionMultiplier>1</commissionMultiplier>
                    <currentKBM>1</currentKBM>
                    <finalRate/>
                    <franchiseSize>6000</franchiseSize>
                    <frequency/>
                    <insuaranceBonus>0</insuaranceBonus>
                    <KBM>1</KBM>
                    <kpark>1</kpark>
                    <parkLegalEntities/>
                    <partialRisk/>
                    <risk>true</risk>
                    <sumSize>780000</sumSize>
                    <underwritingDiscount>1</underwritingDiscount>
                </harm>
            </par:harm>
            <par:insurance>
                <insurance>
                    <agreementType>Первоначальный</agreementType>
                    <countries/>
                    <currency>Рубль</currency>
                    <currencyExchangeRate>1</currencyExchangeRate>
                    <amount_paid/>
                    <baseRateSize/>
                    <claimSettlementOrder>Ремонт на СТОА по выбору страхователя</claimSettlementOrder>
                    <combackLimit/>
                    <complementaryName>GAP</complementaryName>
                    <franchisingObligation/>
                    <installmentPlan>Единовременно</installmentPlan>
                    <previousProgramm>Альфа-Бизнес</previousProgramm>
                    <lossesNumber/>
                    <lossesSum/>
                    <orderNumber/>
                    <periodNumber/>
                    <previousContractPeriodNumber>1</previousContractPeriodNumber>
                    <product>046</product>
                    <programm>Альфа-Бизнес</programm>
                    <servicePackage>нет</servicePackage>
                    <specialConditions/>
                    <special_offer/>
                </insurance>
            </par:insurance>
            <par:insurant>
                <insurant>
                    <flagrantViolation/>
                    <insurantType>Физическое лицо</insurantType>
                </insurant>
            </par:insurant>
            <par:kasko>
                <kasko>
                    <operationPeriodList>
                        <contractDate>2014-07-01T00:00:00</contractDate>
                        <endDate>2015-06-30T00:00:00</endDate>
                        <startDate>2014-07-01T00:00:00</startDate>
                    </operationPeriodList>
                    <operationPeriodNumber>1</operationPeriodNumber>
                    <operationPeriodSize/>
                </kasko>
            </par:kasko>
            <par:ns>
                <ns>
                    <aggregateAmount/>
                    <baseRatePercent/>
                    <bonusValue/>
                    <bonusValueCalculation/>
                    <c2c4/>
                    <calculatedFranchise/>
                    <commissionMultiplier>1</commissionMultiplier>
                    <currentKBM>0</currentKBM>
                    <finalRate/>
                    <franchiseSize>0</franchiseSize>
                    <insuaranceBonus>0</insuaranceBonus>
                    <KBM/>
                    <kpark>1</kpark>
                    <parkLegalEntities/>
                    <risk>true</risk>
                    <sumSize>69000</sumSize>
                    <typeNs>Кол-во мест</typeNs>
                    <underwritingDiscount>1</underwritingDiscount>
                </ns>
            </par:ns>
            <pledgeAgreement/>
            <par:salesman>
                <salesman>
                    <unit>0890 Территориальное агенство № 9</unit>
                </salesman>
            </par:salesman>
            <par:theft>
                <theft>
                    <aggregateAmount/>
                    <avaragePayment/>
                    <baseRatePercent/>
                    <bonusValue/>
                    <bonusValueCalculation/>
                    <c2c4/>
                    <calculatedFranchise/>
                    <commissionMultiplier>1</commissionMultiplier>
                    <currentKBM>1</currentKBM>
                    <finalRate/>
                    <franchiseSize>0</franchiseSize>
                    <frequency/>
                    <insuaranceBonus>0</insuaranceBonus>
                    <KBM/>
                    <kpark>1</kpark>
                    <parkLegalEntities/>
                    <partialRisk/>
                    <risk>true</risk>
                    <sumSize>780000</sumSize>
                    <underwritingDiscount>1</underwritingDiscount>
                </theft>
            </par:theft>
            <par:ts>
                <ts>
                    <AdmittedDriveList>
                        <dateBirthDriver>1980-05-07T00.00.00.000+04:00</dateBirthDriver>
                        <experience>10</experience>
                        <age>33</age>
                    </AdmittedDriveList>
                    <admittedToDriveNumber>1</admittedToDriveNumber>
                    <brand>SKODA</brand>
                    <capacity/>
                    <creditPeriod/>
                    <engineVolume/>
                    <followToRegistrationHome/>
                    <harmNumber/>
                    <immobilizerName>нет</immobilizerName>
                    <instantNumberOfVehicles/>
                    <maxAnnualMileage>0</maxAnnualMileage>
                    <mileage/>
                    <model>OCTAVIA</model>
                    <newTs>true</newTs>
                    <numberOfVehicleRetrospective/>
                    <operationDays/>
                    <otherRisk/>
                    <ownerType>Физическое лицо</ownerType>
                    <registrationDocuments/>
                    <seatsNumber>14</seatsNumber>
                    <permissibleGrossWeight/>
                    <power>152</power>
                    <registrationDocuments>true</registrationDocuments>
                    <termInsuranceDays/>
                    <termInsuranceMonth>12</termInsuranceMonth>
                    <typeTs>АЛИ | Легковой автомобиль иностранный</typeTs>
                    <valueTs>844455</valueTs>
                    <warrantyStatus/>
                    <year>2013</year>
                    <rent>false</rent>
                    <tenure>2014-07-01T00:00:00</tenure>
                    <yearNumber>1</yearNumber>
                    <visualInspection>true</visualInspection>
                </ts>
            </par:ts>
            <par:beneficiary>
                <beneficiary>
                    <beneficiaryList>
                        <benificiaryName>Кушпелёв Николай Александрович</benificiaryName>
                    </beneficiaryList>
                    <benificiaryNumber>1</benificiaryNumber>
                </beneficiary>
            </par:beneficiary>
            <par:act>
                <act/>
            </par:act>
            <par:activity>
                <activity>
                    <limitSum/>
                    <otherActivityTypes/>
                </activity>
            </par:activity>
            <par:agentAgreement>
                <agentAgreement/>
            </par:agentAgreement>
            <par:allrules>
                <allrules>
                    <countRule/>
                </allrules>
            </par:allrules>
            <par:allspeccond>
                <allspeccond>
                    <countSpec/>
                </allspeccond>
            </par:allspeccond>
            <par:argument>
                <argument>
                    <ageShift/>
                    <LKMShift/>
                    <normHourShift/>
                    <partsPriceShift/>
                    <percentAgentKV/>
                    <percentBankKV/>
                    <percentKU/>
                    <percentRPNU/>
                    <sizeAgentKV/>
                    <sizeBankKV/>
                </argument>
            </par:argument>
            <par:kv>
                <kv>
                    <agentruletype/>
                    <bankruletype/>
                    <functionSet1/>
                    <functionSet2/>
                    <percentKV/>
                    <sumKV/>
                </kv>
            </par:kv>
            <par:osago>
                <osago>
                    <addNewPeriodAfterEnd/>
                    <aggregateAmount/>
                    <baseRateSize/>
                    <compensationForReason/>
                    <insuaranceBonus/>
                    <KBM/>
                    <ka/>
                    <km/>
                    <kn/>
                    <ko/>
                    <kp/>
                    <ks/>
                    <kt/>
                    <kvs/>
                    <operationPeriodNumber/>
                    <operationPeriodSize/>
                    <previousInsuaranceBonus/>
                    <previousKa/>
                    <previousOperationPeriodNumber/>
                    <previouscontractforcecalculation/>
                    <previousks/>
                    <sumSize/>
                    <taxchainchanges/>
                </osago>
            </par:osago>
            <par:pledgee>
                <pledgee>
                    <pledgeeNumber/>
                </pledgee>
            </par:pledgee>
            <par:prior>
                <prior/>
            </par:prior>
            <par:taxation>
                <taxation/>
            </par:taxation>
            <par:total>
                <total>
                    <averagePayment/>
                    <frequency/>
                </total>
            </par:total>
            <par:UTC>
                <UTC>
                    <aggregateAmount/>
                    <baseRateSize/>
                    <bonusValue/>
                    <bonusValueCalculation/>
                    <commissionMultiplier>1</commissionMultiplier>
                    <currentKBM>0</currentKBM>
                    <finalRate/>
                    <insuaranceBonus>0</insuaranceBonus>
                    <KBM/>
                    <risk>true</risk>
                    <sumSize>100000</sumSize>
                    <underwritingDiscount>1</underwritingDiscount>
                </UTC>
            </par:UTC>
        </rtkv:RTKVRequest>
    </soapenv:Body>
</soapenv:Envelope>
