.guide_block {

}
.guide_block .guide-buttons > * ,.guide_block .guide-buttons .btn-group>*{
    opacity: .3;
    height: 25px;
    padding: 4px;
}
.guide_block .guide-buttons .btn-group.open>*{
    opacity: 1;
}
.guide_block .guide-buttons .btn-group {
    padding: 0;
}
.guide_block .guide-buttons .btn-group button{
    background-color: #00923d;
}
.guide_block .guide-buttons > *:hover,.guide_block .guide-buttons .btn-group>*:hover {
    opacity: 1;
    transition: 0.3s;
}
.guide_block .guide-buttons.btn-group .guide-page-select {

    padding: 0;
}
.guide_block .guide-buttons.btn-group .guide-page-select select{
    height: 25px;
    font-size: 11px;
}
.guide_block .guide-preview{
    background-color: #5d8dff;
}
.guide_block .edit-guide{

}
.guide_block .removeGuideBlock{
    background-color: #828282;
}


.guide_block .panel-body ol, .guide_block .panel-body ul{

    list-style: unset !important;
    margin: 0 0 0 30px;

}
#sidebar ul li a.guides-group-count{
    position: relative;
    left: 196px;
    top: -33px;
    float: left;
    color: #e05334;
    text-decoration: underline;
}
.glyphicon-info-sign.guides-icon{
    color: white;
}
.guide_block .panel-body{
    min-height: 350px;
}

.guid-block-sm .panel-body{
    min-height: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.guid-block-sm h2{
    font-size: 100%;
}