/* custom */

.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-top: .35rem;
}

.navbar-brand img {
  width: 160px;
}

.btn-primary {
  color: #fff;
  background-color: #89256d;
  border-color: #89256d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #632360;
  border-color: #632360;
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #89256d;
  background-image: none;
  border-color: #89256d;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(145, 38, 110, .5);
  box-shadow: 0 0 0 2px rgba(145, 38, 110, .5);
}

.btn-secondary {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  opacity: 0.5;
}

.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-image: none;
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.btn-secondary.focus, .btn-secondary:focus {
  color: #ffffff;
  background: none;
  border-color: #ffffff;
}


/* main */

.teaser {
  color: #ffffff;
  background-color: #F3F3F3;
  padding: 200px 0;
  background-image: url('/landing/i/teaser-1.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .teaser {
    padding: 360px 0 40px 0;
    background-image: url('/landing/i/teaser-1-mobile.jpg');
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
  }
}

.block {
  padding-top: 80px;
  padding-bottom: 80px;
}

.block-2 {
  color: #ffffff;
  background: -moz-linear-gradient(-45deg, rgba(151, 26, 130, 1) 0%, rgba(66, 31, 109, 1) 50%, rgba(46, 79, 153, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(151, 26, 130, 1) 0%, rgba(66, 31, 109, 1) 50%, rgba(46, 79, 153, 1) 100%);
  background: linear-gradient(-90deg, #d34b1a 10%, #f7f01194 70%, #7bb65c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#971a82', endColorstr='#2e4f99', GradientType=1);
}

.block-3 {
  background: #fafafa;
}

.block-app {
  padding: 100px 0;
  color: #ffffff;
  background: -moz-linear-gradient(-45deg, rgba(151, 26, 130, 1) 0%, rgba(66, 31, 109, 1) 50%, rgba(46, 79, 153, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(151, 26, 130, 1) 0%, rgba(66, 31, 109, 1) 50%, rgba(46, 79, 153, 1) 100%);
  background: linear-gradient(-40deg, #d34b1a 10%, #f7f01194 70%, #7bb65c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#971a82', endColorstr='#2e4f99', GradientType=1);
}

.app-icon img {
  width: 160px
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #000000;
  color: #ffffff;
  font-size: 12px;
}

.footer a {
  color: #ffffff;
  margin-right: 20px;
}

.phone {
  font-size: 20px;
}

.pseudo {
  cursor: pointer;
}


/* slider */

.slider {
  width: 100%;
}

.slick-slide {
  margin: 0 10px;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slider-text {
  color: #bdbdbd;
  font-size: .9em;
}

.tag-new {
  background: #ffffff;
  color: #000000;
  font-size: 9px;
  padding: 4px 16px;
  border-radius: 16px;
}

.modal.large .modal-dialog{
   max-width: 80%; /* respsonsive width */
}

@media (max-width: 640px) {

    .modal.large .modal-dialog {
        max-width: 100%;
    }

    table.table.table-bordered td {
        font-size: 10px;
        padding: 1px;
    }

    table.table.table-bordered th {
        font-size: 12px;
        padding: 4px;
    }
}

.col-md-offset-3{
    margin-left: 25%;
}

@media (max-width: 640px) {
    .col-md-offset-3{
        margin-left: 0;
    }
}

.service-item{
  background: #FFFFFF;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: all 100ms ease-out 0s;
}

.service-p{
  color: #000;
}

.section-services .service-item .service-image {
  float: left;
  margin-right: 30px;
}

.service-image.icon-image {
  float: left;
  width: 30%;
  display: inline-block;
}

.service-content {
  width: 70%;
  display: inline-block;
}