.policy-blocks {
    position: relative;
    z-index: 0;
    margin-right: 35px;
    padding-bottom: 35px;
}

.policy-blocks:after {
    content: '';
    display: block;
    clear: both;
}

.policy-b {
    float: left;
    width: 206px;
    margin-right: 52px;
}

.policy-blocks h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.policy-b h3 {
    margin-bottom: 5px;
}

.policy-b2 h3 {
    margin-bottom: 5px;
}

.policy-b3 h3 {
    margin-bottom: 9px;
}

.p-tabs, .p-tabs2, .p-tabs3 {
    position: relative;
    z-index: 10;
}

.p-tabs2 {
    padding-bottom: 8px;
}

.p-tabs li, .p-tabs2 li, .p-tabs3 div {
    height: 33px;
    margin-bottom: -3px;
}

.p-tabs li a, .p-tabs2 li a, .p-tabs3 div a {
    font-size: 16px;
    line-height: 33px;
    height: 33px;
    color: #65676a;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0px 15px 8px 15px;
}

.p-tabs li a:hover, .p-tabs2 li a:hover {
    text-decoration: underline;
}

.p-tabs li a.current, .p-tabs2 li a.current, .p-tabs3 div a.current {
    color: #fff;
    background: #eb8c3b;
    background-image: -moz-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -webkit-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -ms-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -o-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, #de4020), color-stop(100%, #eb8a3a));
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.p-tabs li a.current span, .p-tabs2 li a.current span, .p-tabs3 div a.current span {
    color: #e3e7ec;
}

.p-tabs li a.current:after, .p-tabs2 li a.current:after , .p-tabs3 div a.current:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -16px;
    width: 16px;
    height: 33px;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat 0 -136px;
}

.p-tabs li a:hover.current, .p-tabs2 li a:hover.current, .p-tabs3 div a:hover.current {
    text-decoration: none;
}

.p-tabs3 {
    position: relative;
    width: 250px;
}

.p-tabs-panes {
    position: relative;
    width: 300px;
}

.p-tabs-panes div {
    padding-bottom: 2px;
}

.policy-b2 {
    float: left;
    margin-right: 36px;
}

.policy-b3 {
    position: relative;
    overflow: hidden;
}

.p-tabs-panes2 {
    color: #65676a;
    font-size: 16px;
    line-height: 18px;
    padding-top: 11px;
}

.p-tabs-panes2 p {
    margin-bottom: 18px;
}

.p-tabs-panes2 .btn {
    width: 190px;
}

.product-description a {
    float: left;
    margin-right: 10px;
}


#prolongationModal table {
    width: 100%;
}

#prolongationModal table th {
    border-bottom: 1px solid #e4e4e4;
    padding: 15px 10px;
    font-family: AgoraSansProBold, sans-serif;
    font-size: 11px;
    color: #21262b;
    text-align: center;
}

#prolongationModal table th:nth-of-type(1) {
    padding: 15px 0px;
    text-align: left;
}

#prolongationModal table td {
    border-bottom: 1px solid #e4e4e4;
    padding: 15px 10px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
}

#prolongationModal table tr td:nth-of-type(1) {
    padding: 15px 0px;
    text-align: left;
}

#prolongationModal .modal-body h3 {
    margin: 0;
    font-size: 11px;
} 
.cont-in {
    padding: 0 0 35px 10px !important;
}

.cont-in .page-heading{
    padding-left:25px;
}

.footer-in .cont-in {
    padding: 29px 40px 0 38px!important;
}

#productListContainer {
    padding-right: 35px;
}

.breadcrumb {
    margin-right: 35px;
}

.policy-div h2 {
    margin-bottom: 42px;
}

.policy-div:after {
    content: '';
    display: block;
    clear: both;
}

.policy-div h2 {
    margin: 40px 0 42px 0;
    font-size: 36px;
    text-align: left;
    line-height: 38px;
    color: #21262b;
    font-family: "AgoraSansProThin", "serif";
}

.steps {
    overflow: hidden;
    margin-bottom: 46px;
}

.steps .step {
    height: 43px;
    margin-right: 28px;
    position: relative;
    float: left;
    color: #b0b0b1;
    background: #eeeeed;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 43px;
    font-family: "AgoraSansProBold", "serif";
    padding-left: 22px;
    padding-right: 47px;
}

.steps .step:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -19px;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat 0 -219px;
    width: 19px;
    height: 43px;
}

.steps .step:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -19px;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat -24px -173px;
    width: 19px;
    height: 43px;
}

.steps .selected {
    cursor: pointer;
}

.steps .active {
    color: #fff;
    margin-right: 28px;
    background-color: #de4020;
    background-image: -moz-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -webkit-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -ms-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -o-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, #de4020), color-stop(100%, #eb8a3a));
    position: relative;
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 43px;
    font-family: "AgoraSansProBold", "serif";
    padding-left: 16px;
    padding-right: 39px;
}

.steps .active:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat 0 -174px;
    width: 19px;
    height: 43px;
}

.steps .active:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -18px;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat -24px -220px;
    width: 19px;
    height: 43px;
}

.steps .step:first-child {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

#product-form {
    float: left;
    width: calc(100% - 320px);
    padding: 0;
    min-height: 100%;
}

#product-form .step {
    display: none;
}

#product-form .step.active {
    display: block;
}

#product-form .step.active {
    display: block;
}

#product-form .field {
    margin-bottom: 16px;
}

#product-form .group {
    margin: 0 0 40px 0;
}

#product-form .group h3 {
    margin: 0 0 18px 0;
}

#product-form .form-col {
    width: 31%;
    float: left;
    margin-right: 2%;
    clear: none;
}

#product-form .form-col-2 {
    width: 64%;
    float: left;
    margin-right: 2%;
    clear: none;
}

#product-form .select2-container {
    /*
    padding: 1px 0 0 0;
    */
}

#product-form .form-row {
    clear: both;
}

.clear {
    clear: both;
}

.checkboxmrup {
    margin-top:-43px;
}

#product-form .field label, #product-form .field .label {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: #65676a;
    margin: 0 0 10px 0;
}

#product-form label.checkbox, #product-form label.sst-radiobutton {
    line-height: 29px;
}

#product-form label.checkbox .sst-checkbox {
    margin-right: 7px;
}

#product-form .field.has-error input,
#product-form .field.has-error textarea,
#product-form .field.has-error .select2-container--default .select2-selection{
    background: #ee8c77;
    color:#ffffff;
}

#product-form .field.has-error input::placeholder {
    color:#ffffff;
}

#product-form .field.has-error input:-ms-input-placeholder {
    color:#ffffff;
}

#product-form .field.has-error input::-ms-input-placeholder {
    color:#ffffff;
}

#product-form .slider {
    margin: 0;
}

#product-form .slider-info-min {
    padding: 10px 2px 0 4px;
    text-align: left;
    font-size: 12px;
    color: #adadad;
    float: left;
    /*background: url(data:image/gif;base64,R0lGODlhAQAOAIAAAP///7S0tCH5BAAAAAAALAAAAAABAA4AAAIERI6JBQA7) 0 0 no-repeat;*/
}

#product-form .slider-info-max {
    padding: 10px 4px 0 0;
    text-align: right;
    font-size: 12px;
    color: #adadad;
    float: right;
    margin: 0 0 20px 0;
    /*background: url(data:image/gif;base64,R0lGODlhAQAOAIAAAP///7S0tCH5BAAAAAAALAAAAAABAA4AAAIERI6JBQA7) right 0 no-repeat;*/
}

.slider-info-min {
    padding: 10px 2px 0 4px;
    text-align: left;
    font-size: 12px;
    color: #adadad;
    float: left;
    /*background: url(data:image/gif;base64,R0lGODlhAQAOAIAAAP///7S0tCH5BAAAAAAALAAAAAABAA4AAAIERI6JBQA7) 0 0 no-repeat;*/
}

.slider-info-max {
    padding: 10px 4px 0 0;
    text-align: right;
    font-size: 12px;
    color: #adadad;
    float: right;
    margin: 0 0 10px 0;
    /*background: url(data:image/gif;base64,R0lGODlhAQAOAIAAAP///7S0tCH5BAAAAAAALAAAAAABAA4AAAIERI6JBQA7) right 0 no-repeat;*/
}

.ui-state-active {
    background-color: #fff !important;
    border-color: #df4526 !important;
}

#product-form .hint {
    width: 20px;
    height: 18px;
    content: '';
    display: inline-block;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat -60px -38px;
    vertical-align: text-bottom;
}

.tooltip-inner {
    max-width: 100%;
    width: 100%;
}

#product-form .readonly .icheckbox_square-orange {
    display: none!important;
}

#product-form .readonly .icheckbox_square-orange.state {
    display: inline-block!important;
}

.ui-widget-header {
    background-image: linear-gradient(to right, #df4526 0%, #eb8d3b 100%);
    border: medium none;
    color: #ffffff;
    font-weight: bold;
}

#product-form .ui-state-active {
    background-color: #fff;
    border-color: #df4526;
}

/* Ð¡ÑƒÐ¼Ð¼Ð°Ñ€Ð½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ */
#product-form .summary .form-col-50 {
    width: 48%;
    float: left;
    margin-right: 2%;
    clear: none;
}

#product-form .summary .group h3 {
    border-bottom: 1px solid #e4e4e4;
    margin: 50px 0 30px 0;
}

#product-form .summary .group .field {
    overflow: hidden;
    vertical-align: bottom;
    margin-bottom: 8px;
    color: #7d7f81;
    font-size: 16px;
    line-height: 16px;
    background: url(/templates/b2bv2/img/dot.jpg) repeat-x 0 bottom;
}

#product-form .summary .group .label {
    color: #7d7f81;
    font-family : "AgoraSansProRegular", "serif";
    font-size: 16px;
    font-weight: normal;
    float: left;
    display: block;
    background: #fff;
}

#product-form .summary .group .value {
    color: #7d7f81;
    font-family : "AgoraSansProRegular", "serif";
    font-size: 16px;
    float: right;
    display: block;
    background: #fff;
}

#calculation {
    float: left;
    margin-left: 32px;
    padding: 28px 32px 46px 34px;
    width: 288px !important;
    border: 1px solid #e4e4e4;
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
}

#calculation h3 {
    font-size: 16px;
    line-height: 24px;
    color: #21262b;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 8px;
    font-family: "AgoraSansProBold", "serif";
    border-bottom: 1px solid #e4e4e4;
    text-transform: uppercase;
}

#calculation .product {
    margin: 0 0 30px 0;
}

/*
#calculation .insurance .btn.disabled {
    text-decoration: none;
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(left, #cbcbcb 0%, #e4e4e4 100%);
    background-image: -webkit-linear-gradient(left, #cbcbcb 0%, #e4e4e4 100%);
    background-image: -ms-linear-gradient(left, #cbcbcb 0%, #e4e4e4 100%);
    background-image: linear-gradient(left, #cbcbcb 0%, #e4e4e4 100%);
    background-image: -o-linear-gradient(left, #cbcbcb 0%, #e4e4e4 100%);
    cursor: not-allowed;
}
*/

#calculation .product .btn.preview {
    background: transparent;
    color: #de4221;
    border: 1px solid #df4923;
    font-size: 12px;
    font-family: "AgoraSansProBold", "serif";
}

#calculation .product .btn.preview:hover {
    border: 1px solid #e5682e;
    color: #e5682e;
    text-decoration: none;
}

#calculation .product .print {
    float: right;
    margin-bottom: 20px !important;
}

#calculation .product .confirm {
    padding: 6px 10px 4px 43px;
    margin-bottom: 29px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fcece8;
    position: relative;
    color: #646162;
    font-size: 16px;
    line-height: 26px;
}

#calculation .product .error {
    color: #de4120;
    line-height: 16px !important;
    text-align: left;
    font-size: 16px;
}

#calculation .product .confirm ::after {
    width: 20px;
    height: 19px;
    content: '';
    display: block;
    background: url(/templates/b2bv2/img/sprite.png) no-repeat -33px -62px;
    position: absolute;
    top: 8px;
    left: 9px;
}

#calculation .product .price-total {
    font-size: 30px;
    line-height: 32px;
    color: #21262b;
    text-align: center;
    margin: 16px 0 0 0;
}

#calculation .product .conditions {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #de4120;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "AgoraSansProBold", "serif";
}

#calculation .product .btn {
    margin: 16px 0 0 0;
}

#calculation .product .conditions {
    margin: 16px 0 0 0;
}

#calculation .product .logo {
    text-align: center;
    margin: 20px 0 0 0;
}

#calculation .product .logo img {
    height: 40px;
}

#calculation .help {
    cursor: help;
}

.wrapper-sticky {
    bottom:150px!important;
}

.t-inp {
    width: 100%;
}

.sst-checkbox {
    float: left;
}

.ui-slider-range, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 16px;
}
.ui-slider-range, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 16px;
}
.ui-slider-range, .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 16px;
}
.ui-slider-range, .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 16px;
}
.ui-slider-handle {
    cursor: move !important;
}
.ui-slider-handle {
    background: #ED6B51;
    border-bottom: 1px solid #a8a79f;
    border-right: 1px solid #a8a79f;
    height: 20px;
    width: 10px;
    margin: 0;
    margin-left: 0px;
    padding: 0px;
    display: inline-block;
}

/** ÐšÐ¾ÑÑ„Ñ„Ð¸Ñ†Ð¸ÐµÐ½Ñ‚Ñ‹ **/
#coefficientsModal .modal-dialog {
    width: 95%;
    min-width: 95%;
    min-height: 100%;
}

.fTables {
    width: 100%;
}
.fTables th, .kTables.th {
    padding: 5px;
    font-weight: bold;
}

.fTables {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fTables td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.tooltip {
    z-index: 50;
}

.tooltip .field-error {
    font-size: 13px !important;
    padding: 4px;
    background: #eb8d3b;
    background-color: #de4020;
    background-image: -moz-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -webkit-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -ms-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -o-linear-gradient(left, #de4020 0%, #eb8a3a 100%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, #de4020), color-stop(100%, #eb8a3a));
    color: #fff!important;
    padding: 2px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #363636;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

.ui-datepicker-title, .ui-datepicker-title option{
    color: #000;
}
.block-view {
    padding: 15px 25px 25px 25px;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 8px;
    margin-bottom: 11px;
    margin-top: 11px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,.15);
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
}
.block-view h3{
    font-weight:600;
}
.block-view label{    
    display: inline-block;
    font-size: 16px;
    line-height: 16px;

    margin: 0 0 10px 0;
}

.xdsoft_datetimepicker {
    color: #DE4120;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: #EB893A;
    box-shadow: #DE4120 0 1px 3px 0 inset;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_next, .xdsoft_datetimepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_today_button {
    opacity: 1;
}

.xdsoft_datetimepicker .xdsoft_label i, .xdsoft_datetimepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_next, .xdsoft_datetimepicker .xdsoft_today_button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAeCAYAAADaW7vzAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkPDgkh04qWvQAAAllJREFUaN7tmj2L1EAYgJ+ZCysos8WB/0LBSrss2J4eWPqBhd01rt4VdvYWFzYI/gLPWj3/wKWxPhDsrPQPXDhB5SY2A44h2b0kc0lmmRdCkpmX7E6eeT+JKIqCIOMRGV5BABIkAPFHIt8XIISoHNex2gc2ZJY/q5ofa+yM1nGXGRi75po6KMFl9QzDyFzHahGAjAOGd1BWAilm030hBFVHEz9fdRSz6aIHGF5BOY+F7JrFut7NC2DeE4xOUJZsqJ1iNn3edcO2cVlOoQwEw6ml6FhtAW+ARMfqvrOscVX6V8ymtkIis3yvaepo75YyDHF0IsbuRsq7XcfqLvCxpPZIZvlB19S6aVDvZCkuLWPAxOFOBQyAtzpWD4bIslpBWRMYW8DhEpWDru6rbdrbCMqawNgGPp1D9Z2O1cMh6pCNBrpnnsPYAT5UTB0C72vc14s+gaRN2hEmEUg8ZvIEOAY+W2MvZZZvyyy/Bzy1xr8a3cd9AUnb9IY8h3JLZvmNksW/stb2Gjg1t5eBm8C1PoCkXRp1vkKRWa7N5VULiLJc2gT4ZW43ZZb/llneqp0c9QXDhqJjRcNiblmd1CZhSMTRyV6Ln9s05wlwyRqfWHNKx+qKzPLTi7SQ1GUL26WlmP+VNoFhF7cN5Rj4AXwD/thxH/gCfDdn3XY9Ud8wKizFCRTzrPlFwLAq7tv/jf+7/Alcr5lz2zrxqa2xot5p1fbpPV6xRrLEfXVxUwGIYyjewFg7l1XRrjmrgzHWdYvw5eK4JAqvYBipqZ+S8KHcyGJdcFkDx75yrPsLEmALjTyBuwMAAAAASUVORK5CYII=');
}

h4{
    padding-top:5px;
    color:black; 
    font-weight:700;
    font-size:18px;
}

.block-view h3{
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 1.5em;
}

.driver-form{
    background: #ffffff;
    padding: 0 20px 20px 20px;;
    border-radius: 10px;
    border: 2px solid #e4e4e4;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
    margin-bottom: 10px;
}

.optional-equipment-form{
    background: #ffffff;
    padding: 20px 20px 20px 20px;;
    border-radius: 10px;
    border: 2px solid #e4e4e4;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
    margin-bottom: 10px;
}
