﻿/* активная кнопка НАЗАД при вводе полей */
.previousField {
	background-image:url('../images/en/btn-back.gif');
}

/* неактивная кнопка НАЗАД при вводе значений полей */
.previousField-disabled{
	background-image:url('../images/en/btn-back-d.gif');
}

/* активная кнопка ДАЛЕЕ при вводе полей */
.nextField {
	background-image:url('../images/en/btn-vnext.gif');
}

/* неактивная кнопка ДАЛЕЕ при вводе значений полей */
.nextField-disabled{
	background-image:url('../images/en/btn-vnext-d.gif');
}

/* кнопка НАЗАД для всех страниц */
.backButton {
	background-image:url('../images/en/back.png');
}

/* кнопка ДАЛЕЕ для всех страниц */
.forwardButton{
	background-image:url('../images/en/forward.gif');
}

/* кнопка ОПЛАТА (на странице принятия платежа) */
.payButton{
	background-image:url('../images/en/pay.gif');
}

/* ? */ /* на странице принятия платежа */
.partyPayment {
	background-image:url("../images/en/partyPayment.gif");
}

.exitButton{
	background-image:url('../images/en/exit.png');
}

#printButton {
	background-image:url('../images/en/print.png');
}

.classInfo {
	position: relative;
	top:250px;
	left:100px;
	width:1080px;
	text-align: center;
}
.classInfo TR TD {
	font-size: 30px;
	line-height: 2;
}
