﻿/* стили для элементов html, body ВСЕХ страниц */
html, body
{
	font-family: Calibri;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	background-color: #FFFFFF;
	/* фоновое изображение */
	background-image:url('../images/bg_main.png');
	background-repeat: no-repeat;
}

/* Нижняя зона */
#footer {
	position: absolute;
	height: 100px;
	width: 1280px;
	top: expression((document.body.clientHeight - this.clientHeight) + 'px');
	left:0px;
	z-index:200;
}

/* Прячет баланс пользователя и сумму сдачи */
#balanceStatus, #changeSumStatus {
	display: none;
}
/* Показывает баланс пользователя и сумму сдачи */
#balanceStatus.visible, #changeSumStatus.visible {
	display: inline;
}

/* ячейка статусной строки */
#status {
	position: absolute;
	/* отступ окна выбора от верхнего края */
	top : 115px;
	/* отступ окна выбора от левого края */
	left: 0px;
	width: 1280px;
	text-align: center;	
}

/* стили, применяемые к оформлению и содержимому статусной строки */
.statustxt {
	width:1260px;
	height: 100px;
	font-size: 30px;
	font-weight : normal;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;	
	color:white;
	background-image:url('../images/statusstr.png');
	background-repeat: no-repeat;
	border:0;
	border-left: 0px;
	border-right: 0px;
	z-index:100;
}

/* Изображение со знаком ?  */
.statustxt img{
	margin-left:0px;
	margin-right:0px;
}

/* Текс статусной строки */
.statustxt #statusCell {
	position: relative;
	right: 133px;
}

/* стили стартовой страницы */
.start #devicesTable {
	background-color: white;
	width: 300px;
	border: 1px solid black;
}
.start #devicesTable .headers {
	font-weight: bold;
	color: darkred;
}
.start #devicesTable .devName {
	display: inline;
	text-align: right;
}
.start #devicesTable #devName {
	text-align: right;
}
.start #devicesTable .devState {
	display: inline;	
}
.start #devicesTable .green {
	color: green;
}
.start #devicesTable .yellow {
	color: #FF9900;
	font-weight: bold;	
}
.start #devicesTable .red {
	color: red;
	text-decoration: underline;
}

/* Стили поля получателей */
.recipients #data {
	position: absolute;
	top:260px;
	left:0px;
	text-align: center;
	vertical-align: middle;	
	height:auto;
	width:1280;
}

/* Элементы каталога с изображениями  */
.recipientTemplateImage {
	display:inline; 
	width:270px; 
	margin: 10px; 
	text-align:center;
}

/* Элементы каталога без изображений  */
.recipientsNoImage {
	display: inline;
	border: 2px dashed black; 
	background-color: #00bdda;
	width: 270px; 
	height: 140px; 
	margin: 10px; 
	padding: 5px; 
	text-align: center;
	z-index:1000;
	position: relative;
	vertical-align: top;
}
/* Текст элемнтов каталога  без изображений  */
.recipientsNoImageName {
	display: inline; 
	position: relative; 
	top: 30%;
	font-size: 30 px;
	font-weight: bold;
}

/***************************** стили для showAlert (вывод сообщения)  *****************************/
/* Слои для вывода различных сообщений, отображаемых в процессе работы киоска;
по умолчанию накладываются поверх всего содержимого страницы и скрывают его собой */
#modalBG {
	position: absolute;
	top:0px;
	left:0px;
	height:1024px;
	width:1280px;
	z-index:999;
	display:none;
	text-align: center;
	vertical-align: middle;
	/* Можно использовать картинку на весь экран */
	background-color: #333333;
	/* IE9 */
	opacity: .40;
	/* IE <= 8 */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}

/* стили для фона */
#alertDiv {
	display: none;
	padding:0px;
	position: absolute;
	top:150px;
	left:0px;
	height:1024px;
	width:1280px;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
}
/* стили для содержимого */
#alertMessageDiv {
	display:block;
	padding:50px;
	font-size:40px;
/*	height:500px;*/
	width:900px;
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
	background-color: white;
}
/* кнопки при выводе сообщения */
.alertButton {
	display:inline;
	margin: 5px 10px 5px 10px;
	background-repeat: no-repeat;
}
/* в состоянии insert-card при возврате карты ридером (onCardReject) alert заполняет всю страницу */
.insert-card #alertMessageDiv {
	background-image:url('../images/bg_main.png');
	height:1024px;
	width:1280px;
}
/* стили текста внутри alert'а */
.insert-card #alertMessageDiv #takeYourCard {
	font-size: 30px;
	font-weight: normal;
}
.insert-card #alertMessageDiv .hintMessage .content  {
	font-size:34px;
}
/* в состоянии sum-entry в случае с фиксированной суммой к оплате div заполняет всю страницу */
.sum-entry #alertMessageDiv.fixed {
	background-image:url('../images/bg_main.png');
	height:1024px;
	width:1280px;
}
.sum-entry-card #alertMessageDiv.fixed {
	background-image:url('../images/bg_main.png');
	height:1024px;
	width:1280px;
}
.sum-entry-manual #alertMessageDiv.fixed {
	background-image:url('../images/bg_main.png');
	height:1024px;
	width:1280px;
}
.sum-entry-wallet #alertMessageDiv.fixed {
	background-image:url('../images/bg_main.png');
	height:1024px;
	width:1280px;
}
.sum-entry-card-IssueOfCash #alertMessageDiv.fixed {
	background-image:url('../images/bg_main.png');
	height:1024px;
	width:1280px;
}


/* Экранная keypad для ввода цифр */
.inputArea {
	display:inline;
	position:absolute;
	left:800px;
	top:40px;
	width:450;
	height:528;
	background-image:url('../images/inputnumber-bgr-right.gif');
	z-index:100;
	overflow:hidden;
}
/* кнопка keypad'а */
.keyPadButton {
	display:inline;
	background-repeat: no-repeat;
	width:96px;
	height:96px;
}
/* смещение keypad'а на нижеследующих страницах (состояниях) */
.accept-card-payment .keyPadDiv,
.accept-payment-manual .keyPadDiv,
.accept-payment-wallet  .keyPadDiv,
.sum-entry-card .keyPadDiv,
.sum-entry-card-IssueOfCash .keyPadDiv,
.sum-entry-card .keyPadDiv,
.sum-entry-manual .keyPadDiv,
.sum-entry-wallet .keyPadDiv  {
	position: absolute;
	top: 230px;
}

/* таблица показа процесса оплаты коллекции получателей */
.payment #paymentsTable {
	width: 750px;
	border: 1px;
	border-style: solid;
	border-color: black;
}
.payment #paymentsTable .td1 {
	width: 300px;
	text-align: right;
}
.payment #paymentsTable .td2 {
	width: 150px;
}
.payment #paymentsTable .td2-ok {
	width: 150px;
	background-image:url('../images/pay_ok.png');
}
.payment #paymentsTable .td2-nn{
	width: 150px;
	background-image:url('../images/pay_nn.png');
}
.payment #paymentsTable .td2-fail {
	width: 150px;
	background-image:url('../images/pay_fail.png');
}
.payment #paymentsTable .td3 {
	width: 300px;
}

/* слой на странице data-entry */
.leftDataArea {
	position: absolute;
	top:200;	
	left: 25px;
	width: 650px;
	height: 528px;
	background-image:url('../images/inputnumber-bgr-left.gif');
	display:inline;
	z-index:100;
}
.footerInfo{
	position: absolute;
	top:650;
	left:290;
	width:700;
	height:210;
	background-image:url('../images/footerInfo.png');
	display:none;
}

#dataArea {
	top: 40px;
}
/* уменьшенное изображение получателя на странице data-entry */
#dataArea #recipientImage {
	position: absolute;
	left: 460px;
	top: 5px;
}
/* ниже идут элементы на страницу data-entry: название вводимого поля, сам элемент поля (input) и описание вводимого поля */
#dataArea #fieldName {
	font-size: 25px;
	font-weight : normal;
	color: black;
	position:absolute;
	top:90px;
	left:0px;	
	text-align: center;
	vertical-align: bottom;	
	text-indent: 0px;	
	padding: 0px;	
	z-index:90;
	height:100;
	width:650;	
}
/*#dataArea #fieldValue {
	display:inline;
	font-size: 40px;
	font-weight: normal;
	color: black;
	position:relative;
	top:170px;
	left:70px;	
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	height:70;
	width:500;
	background:white;
	border-color:#C60821;
	border-style:solid;
	border-width:3px;
}*/
#dataArea #fieldDescription {
	display:block;
	font-size: 20px;
	font-style: italic;
	font-weight : normal;
	color: #444444;
	position:absolute;
	top:250;
	left:50px;	
	text-align: middle;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	height:150;
	width:550;
}



.data-entry .finger-message {
	font-size:30px;
	text-align: center;
}
.data-entry .finger-message img{
	border-color:#C60821;
	border-style:solid;
	border-width:3px;
}

#fieldValue .field-string {
}
#fieldValue .field-enum {
}
#fieldValue.field-number {
}
#fieldValue.field-date {
}
#fieldValue.field-decimal {
}
#fieldValue.field-ipv4 {
}

#dataArea #fieldValue.field-finger-scan  {
	display:inline;
	position:relative;
	top:120px;
	left:250px;	
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	height:140;
	width:140;
	background:white;
	border-color:#C60821;
	border-style:solid;
	border-width:3px;
}

/* активная кнопка НАЗАД при вводе полей */
/*#prevField {
	display:inline;
	position:absolute;
	left:30px;
	top:390px;
	width:160px;
	height:112px;
	z-index:100;
}*/

/* активная кнопка ДАЛЕЕ при вводе полей */
/*#nextField {
	display:inline;
	position:absolute;
	left:460px;
	top:390px;
	width:160px;
	height:112px;
	z-index:100;
}*/

/* вертикальная волоса прокрутки при выборе из списка */
#enumInputArea {
	top: 40px;
}

.enumInputArea {
	display:inline;
	position:absolute;
	left:710px;
	top:200;
	width:540;
	height:528;
	z-index:100;
	overflow:hidden;
}
/* скрыть полосу прокрутки */
.enumInputArea.hide {
visibility: hidden;
}
/* поле выбора из списка, его фон */
.enumentry {
position:relative; 
height:100%;
}
.enumItemsTable {
	background-image:url('../images\inputnumber-bgr-right.gif');
	background-position:top right;
	background-repeat: repeat-y;
	overflow:hidden;
}

/* элемент списка при выборе из списка */
.enumItem {
	position:relative;
	left:90px; 
	top:10px;
	margin-left:5px; 
	margin-top:5px;
	padding-bottom:10px;
	cursor:pointer;
}

/* стиль содержимого элемента списка */
.enumItemDescription {
	width:435px; 
	margin-top:-2px; 
	margin-bottom:-10px; 
	padding-left: 10px;
	font-size: 25px; 
	background-image:url('../images/enum_data.gif'); 
	background-repeat:repeat-y;
}

/* активная кнопка 'прокрутить вверх' при выборе из списка */
.upButton {
	position:absolute;
	top:0px;
	width:70;
	height:70;
	background-image:url('../images\up.gif');
	z-index:100;
}
/* неактивная кнопка 'прокрутить вверх' при выборе из списка */
.upButton-disabled {
	position:absolute;
	top:0px;
	width:70;
	height:70;
	background-image:url('../images/up-d.gif');
	z-index:10;
}

/* активная кнопка 'прокрутить вниз' при выборе из списка */
.downButton {
	position:absolute;
	top:459px;
	width:70;
	height:70;
	background-image:url('../images\dn.gif');
	z-index:100;
}	

/* неактивная кнопка 'прокрутить вниз' при выборе из списка */
.downButton-disabled  {
	position:absolute;
	top:459px;
	width:70;
	height:70;
	background-image:url('../images\dn-d.gif');
	z-index:10;
}

/* поле с текстом уведомления при совершении платежа (например, при платеже с фиксированной суммой) */
#productPaymentWarning {
	position:relative;
	height:auto;
	width:920px;
	left:180px;
	top:230px;
	font-size: 22px;
	font-weight : normal;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	background-image:url('../images\accept-payment-product-bg.gif');
	z-index:100;
}

/* строка "К оплате" на странице принятия платежа */
.paymentSumStr {
	font-size: 40px;
	color: #000000;
	height: 24px;
	text-align: center;
	vertical-align: middle;	
}
.paymentSumStr TD {
	font-weight : bold;
}

/* строка "К зачислению" на странице принятия платежа */
.transferSumStr {
	font-size: 40px;
	height: 24px;	
	font-weight : normal;
	color: #000000;
	text-align: center;
	vertical-align: middle;	
}

/* строка "Принято" на странице принятия платежа */
.accumulatedSumStr {
	font-size: 40px;
	height: 24px;	
	font-weight : normal;
	color: #000000;
	text-align: center;
	vertical-align: middle;	
}

/* строка "Осталось внести" на странице принятия платежа */
.remainSumStr {
	font-size: 40px;
	height: 24px;	
	font-weight : bolder;
	color: #b5020c;
	text-align: center;
	vertical-align: middle;	
}

/* строка "Комиссия" на странице принятия платежа */
.commissionSumStr {
	font-size: 40px;
	height: 24px;	
	font-weight : normal;
	color: #000000;
	text-align: center;
	vertical-align: middle;	
}

/* Показ деталей (полей) платежа */
.fieldsInfoDiv {
	display:block;
	position: relative;
	text-align: center;
}

/* поле на странице принятия платежа, содержащее поля с параметрами платежа (сумма к оплате, зачислению, комиссия) */
.showBalance {
	display: none;
}
.CardDeposit .showBalance {
	display: block;
	position: absolute;
	left: 490px;
	top: 230px;
	font-size: 28px;
	text-align: right;
}
.balance {
	display: inline;
	font-size: 28px;
	text-align: center;
}

.sum-entry-card #paymentInfo {
	position:absolute;
	top: 270px;	
	left: 50px;
}

.accept-payment #paymentInfo {
	position:relative;
	top: 230px;	
}
.sum-entry-card-IssueOfCash #paymentInfo {
	position:absolute;
	top: 300px;	
	left: 60px;
}
/* поле со сводными данными (к оплате, к зачислению, комиссия, принято и т.д.) на странице принятия платежа */
#SummTable {
	text-align: left;
	border:1px solid #f3ac7e;
	background: #fefcfa;
	padding:10px;
	position:relative;
	width:650px;
}

/*
.accept-payment-free #SummTable {
	top:510px;
}
*/
.sum-entry-card-IssueOfCash #SummTable{
	text-align:right;
	left:10px;
	top:0px;
	
}
.sum-entry-manual #SummTable, 
.sum-entry-wallet #SummTable {
	text-align:left;
	left:50px;
	top:460px;
}

/* поле с реквизитами платежа: полями, полученными с сервера; на странице принятия платежа */
.acceptPaymentFields {
	font-size: 20px;
	font-weight : normal;
	color: #000;
	text-align: center;
	vertical-align: middle;	
	width:630px;
	background-image:url("../images\p14-1_data.gif");
}

/* таблица с полями получателя */
#fieldsTable {
	font-size: 18px;
}

/* блок на странице принятия платежа, внизу, содержащий информационное поле (описанное ниже) */
.commissionTextDiv {
	position: relative;
	text-align: center;
}
.accept-payment-free .commissionTextDiv {
	margin-top: 50px;
	position: relative;
	top:500px;
	text-align: center;
}/*
.sum-entry-card-IssueOfCash .commissionTextDiv{
	position: relative;
	margin-top: -150px;
	left:10px;
	top:550px;
}*/
.sum-entry-manual .commissionTextDiv,
.sum-entry-wallet .commissionTextDiv {
	left:-280px;
	top:450px;
}
/* то самое информационное поле (см. выше) с доп. информацией (мин/макс сумма, комиссия и пр.) */
#commissionText {
	display:block;
	text-align: left;
	width:630px;
	padding-left:10px;
	font-size: 20px;
	font-weight : normal;
	font-style: italic;
	color: black;	
	background-image:url("../images\p14-1_data.gif");
	z-index:100;
}

/* показ параметров платежа */
.fieldsMessage {
	display:block;
	text-indent: 20px;	
	padding: 0px;	
	font-size: 24px;
	width:auto;
	vertical-align: middle;
	z-index:100;
}

/* подсветка текста на этапе принятия платежа */
.colorText {
	color: yellow;
}

/* Стиль часов с циферблатом */
.time {
	display:inline;
	font-size: 23px;
	font-weight : normal;
	color: #ffffff;
	text-decoration: none;

	position:absolute;
	top:50px;
	left:1100px;	
}

/* слой и таблица для циферблата 'Ожидание' при входе в киоск */
.waitClockDiv{
	position:absolute;
	left:0px;
	top:0px;
	height:1024px;
	width:1280px;	
	z-index:2000;
}
.waitClockTable {
	margin: 0 0 0 0;
}
.waitClockTable td {
	padding: 0 0 0 0;
}

/* баннер */
#banner {
	position:absolute;
	top:0px;
	left:0px;
}

/* кнопка НАЗАД для всех страниц */
#cancelButton {
	position: relative;
	display:inline;
	top:20px;
	left:20px;
	height:68px;
	width:219px;
	z-index:100;
}


/* кнопка НАЗАД неактивна (отсутствует) */
.backButton-disabled {
	visibility: hidden;
}

/* кнопка ДАЛЕЕ для всех страниц */
#continueButton {
	display:inline;
	position: relative;
	top:20px;
	left:800px;
	height:68px;
	width:219px;
	z-index:100;
}

/* кнопка ДАЛЕЕ неактивна (отсутствует) */
.forwardButton-disabled {
	visibility: hidden;
}
/* кнопка ОПЛАТА (на странице принятия платежа) */
.payButton{
	display:inline;
	position: absolute;
	top:20px;
	right:20px;
	height:68px;
	width:219px;
	z-index:100;
}
/* кнопка ОПЛАТА (на странице принятия платежа) неактивна (скрыта) */
.payButton-disabled {
	visibility: hidden;
}

/**
Разделение суммы платежа 
Будет описано позже, когда будут документироваться состояния accept-payment-xxx

*/
.partyPayment {
	display:none;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: 180px;
	width:100%;
	height:47px;
}
.partyPayment.visible {
	visibility: visible;
}
.partyPayment.hidden {
	visibility: hidden;	
}
/* отступ "красной" строки: оставшаяся/полученная сумма */
.accept-payment-manual #sumLeft,
.accept-payment-manual #receivedAmount {
text-indent:460px;
}


/* поле ввода пин-кода карты */
.pinEntryField {
	height:50px;
	width:180px;
	border:2px solid #000000;
	background-color:#eaeaea;
}

/* стиль для форматирования текста сообщений */
.simpleText {
	font-size: 30px;
	font-weight: normal;
	color: black;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 0px;
}

/* слой с id 'data' на странице _default-view.html, в которое загружается различное содержимое в зависимости от состояния */
#data {
	display:inline;
	position:absolute;
	top:400px;
	left:15px;
	width:1250;
	height:400;
	z-index:300;
	font-size: 30px;
	font-weight: normal;
	color: black;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 0px;	
}
/* на следующих страницах слой находится выше */
.eject-card #data,
.card-captured #data,
.offline #data {
	top:250px;
}

.recipients-fixedsum-collection #databox {
	display:inline;
	position:absolute;
	left:15px;
	top:250px;
	width:800;
	height:645;	
	z-index:300;
	overflow-y: hidden;	
}

.recipients-fixedsum-collection #data {
	position:relative;
	width:800;	
	top:0;
	text-align: left;
	font-size: 30px;
	font-weight: normal;
	color: black;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 0px;	
}

.recipients-fixedsum-collection #scrollUp {
	position:absolute;
	left:830px;
	top:250px;
	width:70;
	height:70;	
	z-index:300;
	border:1px solid black;
	background-color: white;
}
.recipients-fixedsum-collection #scrollDown {
	position:absolute;
	left:830px;
	top:825px;
	width:70;
	height:70;	
	z-index:300;
	border:1px solid black;
	background-color: white;
}
.recipients-fixedsum-collection #scrollPosition {
	position:absolute;
	left:830px;
	top:330px;
	width:70;
	height:485;	
	z-index:300;
	text-align:center;
	border:1px solid black;
	background-color: white;	
}

.recipients-fixedsum-collection #scrollBullet {
	position:relative;
	top:15;
	width:18px;
	height:10px;	
	z-index:300;
	background-color: black;	
}

.recipients-fixedsum-collection #item {
	display:inline;
	position:relative;
	margin-right: 80; 	
	width:319;
	height:135;
}
.recipients-fixedsum-collection #itemAlignment {
	position:absolute;
}

.recipients-fixedsum-collection .transferSum {
	margin-left: 15px;
	padding: 2px 10px;
	background-color: white;
	border: 1px solid black;
	width: 240px;
	text-align: center;
}

.recipients-fixedsum-collection .countingCollection {
	display: inline;
	position: absolute;	
	border: 1px solid black;
	background-color: white;
	padding: 10px 2px;	
	text-align: center;	
}	

/* Элементы категории для коллекций фикс. сумм с изображениями  */
.collectRecipientTemplateImage {
	display: inline; 
	width: 270px; 
	margin: 10px; 
	margin-right: 35px; 	
	text-align:center;
}

/* Элементы категории для коллекций фикс. сумм без изображений  */
.collectRecipientsNoImage {
	display: inline;
	border: 2px dashed black; 
	background-color: #00bdda;
	width: 270px; 
	height: 140px; 
	margin: 10px; 
	margin-right: 35px; 		
	padding: 5px; 
	text-align: center;
	z-index:1000;
	position: relative;
	vertical-align: top;
}
/* Текст элемнтов категории для коллекций фикс. сумм без изображений  */
.collectRecipientsNoImageName {
	display: inline; 
	position: relative; 
	top: 30%;
	font-size: 30px;
	font-weight: bold;
}

.recipients-fixedsum-collection #collectionInfo {
	position:absolute;
	left:910px;
	top:330px;
	width:340;
	height:255;	
	z-index:300;
	text-align:center;
	border:1px solid black;
	background-color: white;	
	font-size: 30px;
	font-weight: normal;
	color: black;
	text-indent: 0px;		
}
.recipients-fixedsum-collection #totalNumberStr {
	position:relative;
	top:-40px;
}
.recipients-fixedsum-collection #totalSumStr {
	position:relative;
	top:140px;
}

.recipients-fixedsum-collection #resetButton {
	position:absolute;
	left:910px;
	top:595px;
	width:340;
	height:70;	
	z-index:300;
	text-align:center;
	border:1px solid black;
	background-color: lightgrey;	
	font-size: 30px;
	font-weight: normal;
	color: black;
	text-indent: 0px;
	padding-top: 13px;
}

.pin-entry #pinStatus {
	visibility: hidden;
}

/* вывод подсказок, пояснений и уведомлений в (по умолчанию) красной рамке */
.hintMessage {
	margin: 40px;
	padding:0px;
	width:1000px;
}
/* верхняя часть */
.hintMessage .header {
	background-image:url('../images/hintheader.gif');
	height: 15px;
}
/* центральная (основная) часть */
.hintMessage .content {
	text-align: center;
	background-image:url('../images/hintmiddle.gif');
	font-size: 28px;
}
/* нижняя часть */
.hintMessage .footer {
	background-image:url('../images/hintfooter.gif');
	height: 15px;
}

/* что-то невидимое */
.invisible {
	display: none;
}

.cancel-payment .cancelTableShow,
.cancel-payment-with-change .cancelTableShow,
.cancel-payment .overLayShow,
.cancel-payment-with-change .overLayShow {
visibility: visible;
}

.cancel-payment .cancelTableHide,
.cancel-payment-with-change .cancelTableHide,
.cancel-payment .overLayHide,
.cancel-payment-with-change .overLayHide {
visibility: hidden;
}

/*
Демонстрационное состояние, наследство Unibank'a
Нужно будет переделать в демонстрационный стейт
*/
.information .selected {
	font-weight: bold
}
.information #data {
	position:absolute;
	top: 150px;
	left: 300px;
	width:auto;
	height: 800px;
	font-size:30px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* шаблон для отображения типа оплаты на странице select-payment-method */
.select-payment-method .paymentMethodTemplateDiv {
display: inline;
width: 270px;
margin: 10px;
padding: 5px; 
text-align: center;
}

/* поле выбора способа оплаты (наличные/карта) */
.select-payment-method #data {
	text-align: center;
	position:relative;
	top: 300px;
}

/* Страница service-entry.html входа в инженерное или инкассационное меню с вводом кода доступа */

.contentTable {
	text-align:center;
	width: 100%;
	height: auto;
}

.contentTable tr {
	vertical-align:top;
}

#authBody {
top:150px;
position:absolute;
visibility:visible;
}

#accessCodeTEXT {
	color:#999;
	font-size: 25px;	
	height:60px;
	text-align: center;
	vertical-align: middle;		
	width:200px;
	background:#fff;
	border-color:#222;
	border-style:solid;
	border-width:3px;
}

.encashmentButtons {
	color:#ccc;
	font-size: 25px;	
	height:60px;
	width:60px;
	background:#fff;
	border-color:#222;
	border-style:solid;
	border-width:3px;
}

#commitAuth {
	height: 50px;
	width:260px;
	font-size:20px;
	font-weight:bold;
	border:3px solid #000000;
	vertical-align:middle;
}
.authButton {
	background: #58FF2B;
	color:black;
}
.authButton-disabled {
	background: #8F8F8F;
	color:#6F6F6F;
}

.buttonRed {
	height: 50px;
	width:260px;
	background: #FF4E2B;
	font-weight:bold;
	color:black;
	font-size:20px;
	border:3px solid #000000;
	vertical-align:middle;
}

/* Выбор типа платежа*/

.paymentType {
	border: 0;
	display:inline;
	padding:0px;
	height:auto;
	width:1000;
	text-align: center;
	vertical-align: middle;
	padding:20;
	z-index:100;
}

.paymentTypeTop{
	display:block;
	width:1000;
	background-image:url('../images/button_top.png');	
	text-align: center;
	vertical-align: bottom;
	z-index:100;
}

.paymentTypeData {
	display:block;
	padding:0px;
	font-size: 28px;
	width:1000;
	background-image:url('../images/button_data.png');	
	text-align: center;
	vertical-align: middle;
	z-index:100;
}

.paymentTypeBottom {
	display:block;
	width:1000;
	background-image:url('../images/button_bottom.png');	
	text-align: center;
	vertical-align: top;
	z-index:100;
}
