﻿/* Сообщение о возможности введения карты */
#cardWaitingMessage {
	background-image:url('../images/ru/cardWaiting.png');
}

/*Cообщение о заявке*/
/*#bankMessage {
    background:"Оставьте заявку на добавление поставщиков на сайте express-bank.ru в разделе "Частным лицам - Платежные терминалы"";
}*/

/* кнопка ВОЗВРАТ КАРТЫ */
.cardEjectButton {
	background-image:url('../images/ru/card_return.png');
}

/* кнопка МЕНЮ */
.menuButton {
	background-image:url('../images/ru/menu.png');
}

/* кнопка ДАЛЕЕ для всех страниц */
.forwardButton{
	background-image:url('../images/ru/forward.png');
}

/* кнопка ОПЛАТА (на странице принятия платежа) */
.payButton{
	background-image:url('../images/ru/pay.png');
}

/* активная кнопка НАЗАД при вводе полей */
.previousField {
	background-image:url('../images/ru/btn-back.png');
}

/* неактивная кнопка НАЗАД при вводе значений полей */
.previousField-disabled{
	background-image:url('../images/ru/btn-back-d.png');
}

/* активная кнопка ДАЛЕЕ при вводе полей */
.nextField {
	background-image:url('../images/ru/btn-vnext.png');
}

/* неактивная кнопка ДАЛЕЕ при вводе значений полей */
.nextField-disabled{
	background-image:url('../images/ru/btn-vnext-d.png');
}

