﻿HTML, BODY{	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #0d3d84;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	background-repeat: no-repeat;
	font-size: 25px;
}

/* кнопка ПЕРЕХОДА В ROOT для accept payment */
#menuButton {
	position: absolute;
	display:inline;
	bottom:35px;
	left:490px;
	height:79px;
	width:304px;
	z-index:300;
}

/* кнопка ПЕРЕХОДА В ROOT для accept payment неактивна (отсутствует) */
.menuButton-disabled {
	visibility: hidden;
}

/* кнопка ВОЗВРАТА КАРТЫ для страниц */
#cardEjectButton {
	position: absolute;
	display:inline;
	bottom:0px;
	left:490px;
	height:115px;
	width:304px;
	z-index:400;
}

/* кнопка ВОЗВРАТА КАРТЫ неактивна (отсутствует) */
.cardEjectButton-disabled {
	visibility: hidden;
}

/* кнопка ДАЛЕЕ для всех страниц */
#continueButton {
	position: relative;
	display:inline;
	top:0px;
	left:620px;
	height:114px;
	width:304px;
	z-index:100;
}

/* кнопка ДАЛЕЕ неактивна (отсутствует) */
.forwardButton-disabled {
	visibility: hidden;
}
/* кнопка ОПЛАТА (на странице принятия платежа) */
.payButton{
	position: relative;
	display:inline;
	top:0px;
	left:850px;
	height:114px;
	width:304px;
	z-index:100;
}
/* кнопка ОПЛАТА (на странице принятия платежа) неактивна (скрыта) */
.payButton-disabled {
	visibility: hidden;
}


/* кнопка Следующей страницы кредитов для recipients */
.rightButton {
	position: absolute;
	display:inline;
	top:430px;
	right:0px;
	height:127px;
	width:130px;
	background-image:url('../images/catalog-item-next.png');
	z-index:350;
}

/* кнопка Следующей страницы кредитов для recipients неактивна (отсутствует) */
.rightButton-disabled {
	position: absolute;
	display:inline;
	top:430px;
	right:0px;
	height:127px;
	width:130px;
	background-image:url('../images/catalog-item-next-disabled.png');
	z-index:350;
}

/* кнопка Предыдущей страницы кредитов */
.leftButton {
	position: absolute;
	display:inline;
	top:430px;
	left:0px;
	height:127px;
	width:130px;
	background-image:url('../images/catalog-item-prev.png');
	z-index:350;
}

/* кнопка Предыдущей страницы кредитов неактивна (отсутствует) */
.leftButton-disabled {
	position: absolute;
	display:inline;
	top:430px;
	left:0px;
	height:127px;
	width:130px;
	background-image:url('../images/catalog-item-prev-disabled.png');
	z-index:350;
}

/* Сообщение о возможности введения карты для recipients */
#cardWaitingMessage {
	position: relative;
	top:830px;
	left:230px;
	height: 90px;
	width: 818px;
	text-align: center;	
}

/*  Сообщение о возможности введения карты для recipients  (отсутствует) */
/*.cardWaitingMessage-disabled {
	visibility: hidden;
}*/

/* Сообщение о возможности оставить заявку*/
/*#bankMessage {
    /*position: relative;*/
	/*top:700px;
	left:230px;
	height: 90px;
	width: 818px;
	text-align: center;	
	font-size:20pt; 
	color:red;
}*/



/* Элементы каталога Кредитов для recipients */
.recipientTemplateCredit {
	font-size: 22px;
	display: inline; 
	width: 473px;
	height: 520px;	
	text-align: center;
	background-image: url('../images/catalog-item-bg.png');
}

.recipientTemplateCreditDiv {
	margin-right: 20px;
	margin-left: 20px;
	display: inline;
}

/* баннер */
#banner {
	display: none;
	position:absolute;
	top:0px;
	left:0px;
}

/* кнопка НАЗАД для всех страниц */
#cancelButton {
	position: relative;
	display:inline;
	top:0px;
	left:50px;
	height:114px;
	width:304px;
	z-index:100;
}

/* ячейка статусной строки */
#status {
	display: none;
	position: absolute;
	/* отступ окна выбора от верхнего края */
	top : 115px;
	/* отступ окна выбора от левого края */
	left: 0px;
	width: 1280px;
	text-align: center;	
}

/* поле ввода пин-кода карты */
.pinEntryField {
	position:absolute;
	top:-150px;
	left:335px;
	height:588px;
	width:600px;
	border:0px solid #000000;
	background-color: transparent;
	background-image: url('../images/pin-entry-bg.png');
}

#pin {
	position:absolute;
	top:360px;
	left:590px;
	z-index:1000;
	font-size:50px;	
}

#pinInfo {
	position:absolute;
	top:285px;
	left:390px;
	z-index:1000;
}

/* Экранная keypad для ввода цифр */
.sum-entry-card .inputArea {
	display:inline;
	position:absolute;
	left:800px;
	top:70px;
	width:450;
	height:570;
	background-image:url('../images/inputnumber-bgr-right.gif');
	z-index:100;
	overflow:hidden;
}

/* кнопка keypad'а */
.keyPadButton {
	display:inline;
	background-repeat: no-repeat;
	width:117px;
	height:117px;
}
.Backspace {
	display:inline;
	background-repeat: no-repeat;
	width:240px;
	height:117px;
}


.cardPayment {

	background-repeat: no-repeat;
	width:1110px;
	height:90px;
	background-image:url('../images/card-payment.png');
}

.fieldsInfoDiv {
	position:relative;
	left:40px;
	top:-100px;
}

/* стили для содержимого */
#alertMessageDiv {
	display:block;
	padding:50px;
	font-size:25px;
	width:1119px;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
	border: 0;	
	background-image:url('../images/alert_data.png');
	background-repeat: repeat-y;
	background-color: transparent;
}
#alertMessageTop {
	display:block;
	height:28px;
	width:1119px;
	text-align: center;
	vertical-align: bottom;
	z-index:1000;
	background-image:url('../images/alert_top.png');
	background-repeat: no-repeat;
}

#alertMessageBottom {
	display:block;
	height:28px;
	width:1119px;
	text-align: center;
	vertical-align: top;
	z-index:1000;
	background-image:url('../images/alert_bottom.png');
	background-repeat: no-repeat;
}

/* для приема наличных */
#vebBlock1 {
	position:relative;
	height:90px;
	width:1110px;
	left:80px;
	top:220px;
	font-weight : normal;
	text-align: center;
	vertical-align: middle;	
	background-image:url('../images\cash-payment.png');
	background-repeat: no-repeat;
	z-index:100;
}

#vebBlock2 {
	position:relative;
	height:50px;
	width:1110px;
	left:80px;
	top:120px;
	font-weight : normal;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 110px;	
	z-index:100;
}

#vebBlock3 {
	position:relative;
	height:50px;
	width:100%;
	left:30px;
	top:-80px;
	font-weight : normal;
	text-align: left;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 110px;	
	z-index:100;
}

#vebBlock4 {
	position:relative;
	height:50px;
	width:100%;
	left:30px;
	top:-270px;
	font-weight : normal;
	text-align: left;
	color: #555555;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 110px;	
	z-index:100;
}

#vebBlock5 {
	position:relative;
	height:10px;
	width:100%;
	left:30px;
	top:-310px;
	font-weight : bold;
	text-align: center;
	color: red;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 110px;	
	z-index:100;
}

#vebBlock6 {
	position:relative;
	height:173px;
	width:100%;
	left:130px;
	top:-600px;
	font-weight : normal;
	text-align: left;
	vertical-align: middle;	
	background-image:url('../images\bg-accepted-sum.png');
	background-repeat: no-repeat;
	text-indent: 0px;	
	padding: 12px;	
	z-index:100;
}

/* для приема по карте */
#vebBlock10 {
	position:relative;
	height:90px;
	width:100%;
	left:80px;
	top:220px;
	font-weight : normal;
	text-align: center;
	vertical-align: middle;	
	background-image:url('../images\card-payment.png');
	background-repeat: no-repeat;
	z-index:1;

}

#vebBlock12 {
	position:relative;
	height:173px;
	width:60%;
	left:50px;
	top:240px;
	font-weight : normal;
	text-align: left;
	vertical-align: middle;	
	background-repeat: no-repeat;
	text-indent: 0px;	
	padding: 12px;	
	z-index:1;

}

#vebBlock11 {
	position:relative;
	height:50px;
	width:72%;
	left:-50px;
	top:50px;
	font-weight : normal;
	text-align: left;
	color: #555555;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 110px;	
	z-index:1;
}

#vebBlock13 {
	position:relative;
	height:173px;
	width:60%;
	left:50px;
	top:-30px;
	font-weight : normal;
	text-align: left;
	vertical-align: middle;	
	background-image:url('../images\bg-card-sum.png');
	background-repeat: no-repeat;
	text-indent: 0px;	
	padding: 12px;	
	z-index:1;
}


#paymentInfo {
	display:none;
}

/* строка "К оплате" на странице принятия платежа */
.paymentSumStr {
	color: #000000;
	text-align: left;
	vertical-align: middle;	
}
.paymentSumStr TD {
	font-weight : bold;
}

/* строка "К зачислению" на странице принятия платежа */
.transferSumStr {
	font-weight : normal;
	color: #000000;
	text-align: left;
	vertical-align: middle;	
}

/* строка "Принято" на странице принятия платежа */
.accumulatedSumStr {
	font-weight : normal;
	color: #000000;
	text-align: left;
	vertical-align: middle;	
}


/* Экранная keypad для ввода цифр */
.inputArea {
	display:inline;
	position:absolute;
	left:770px;
	top:200px;
	width:470;
	height:588px;
	z-index:300;
	padding:5px;
	overflow:hidden;
	background-image:url('../images/inputnumber-bgr-right.png');
	
}

/* слой на странице data-entry */
.leftDataArea {
	position: absolute;
	top:300px;	
	left: 60px;
	width: 597px;
	height: 588px;
	background-image:url('../images/inputnumber-bgr-left.png');
	display:inline;
	z-index:100;
}

.leftDataAreaString {
	position: absolute;
	top:300px;	
	left: 60px;
	width: 1148px;
	height: 271px;
	background-image:url('../images/inputstring-bgr-left.png');
	display:inline;
	z-index:100;
}

#dataArea {
	top: 230px;
}
/* уменьшенное изображение получателя на странице data-entry */
#dataArea #recipientImage {
	display: none;
	position: absolute;
	left: 460px;
	top: 5px;
}
/* ниже идут элементы на страницу data-entry: название вводимого поля, сам элемент поля (input) и описание вводимого поля */
#dataArea #fieldName {
	font-size: 25px;
	font-weight : bold;
	color: #0d3d84;
	position:absolute;
	top:40px;
	--left:-90px;	
	text-align: center;
	vertical-align: bottom;	
	text-indent: 0px;	
	padding: 0px;	
	z-index:90;
	height:100;
	width:600;	
}
#dataArea #fieldValue {
	display:inline;
	font-size: 36px;
	font-weight: normal;
	color: #444444;
	position:relative;
	top:115px;
	left:65px;	
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	height:70;
	width:460;
	background:none;
	border:none;
}
#dataArea #fieldDescription {
	display:block;
	font-size: 20px;
	font-weight : normal;
	font-style : normal;
	color: #0d3d84;
	position:absolute;
	top:200;
	left:30px;	
	text-align: middle;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	height:150;
	width:550;
}


/* активная кнопка НАЗАД при вводе полей */
#prevField {
	display:inline;
	position:absolute;
	left:30px;
	top:410px;
	width:214px;
	height:81px;
	z-index:100;
	background-repeat: no-repeat;
}

/* активная кнопка ДАЛЕЕ при вводе полей */
#nextField {
	display:inline;
	position:absolute;
	left:320px;
	top:410px;
	width:244px;
	height:80px;
	z-index:100;
	background-repeat: no-repeat;
}


/* активная кнопка НАЗАД при вводе полей */
#prevFieldString{
	display:inline;
	position:absolute;
	left:30px;
	top:290px;
	width:214px;
	height:81px;
	z-index:100;
	background-repeat: no-repeat;
}

/* активная кнопка ДАЛЕЕ при вводе полей */
#nextFieldString{
	display:inline;
	position:absolute;
	left:880px;
	top:290px;
	width:244px;
	height:80px;
	z-index:100;
	background-repeat: no-repeat;
}


/* вертикальная волоса прокрутки при выборе из списка */
#enumInputArea {
	top: 220;
}

.enumInputArea {
	display:inline;
	position:absolute;
	left:650px;
	top:200;
	width:600;
	height:530;
	z-index:100;
	overflow:hidden;
}
/* скрыть полосу прокрутки */
.enumInputArea.hide {
	visibility: hidden;
}
/* поле выбора из списка, его фон */
.enumentry {
	position:relative; 
	height:100%;
}
.enumItemsTable {
	background-image:none;
	background-position:top right;
	background-repeat: repeat-y;
	overflow:hidden;
}

/* элемент списка при выборе из списка */
.enumItem {
	position:relative;
	left:90px; 
	top:10px;
	margin-left:5px; 
	margin-top:5px;
	padding-bottom:10px;
	cursor:pointer;
}

/* стиль содержимого элемента списка */
.enumItemDescription {
	width:503px; 
	margin-top:-2px; 
	margin-bottom:-10px; 
	padding-left: 10px;
	font-size: 25px; 
	background-image:url('../images/enum_data.png'); 
	background-repeat:repeat-y;
}

/* активная кнопка 'прокрутить вверх' при выборе из списка */
.upButton {
	position:absolute;
	top:0px;
	left:35;
	width:29;
	height:29;
	background-image:url('../images\up.png');
	background-repeat: no-repeat;
	z-index:100;
}
/* неактивная кнопка 'прокрутить вверх' при выборе из списка */
.upButton-disabled {
	position:absolute;
	top:0px;
	left:35;
	width:29;
	height:29;
	background-repeat: no-repeat;
	background-image:url('../images/up-d.png');
	z-index:10;
}

/* активная кнопка 'прокрутить вниз' при выборе из списка */
.downButton {
	position:absolute;
	top:499;
	left:35;
	width:29;
	height:29;
	background-repeat: no-repeat;
	background-image:url('../images\dn.png');
	z-index:100;
}	

/* неактивная кнопка 'прокрутить вниз' при выборе из списка */
.downButton-disabled  {
	position:absolute;
	top:499;
	left:35;
	width:29;
	height:29;
	background-repeat: no-repeat;
	background-image:url('../images\dn-d.png');
	z-index:10;
}

/* Заявка на кредит*/ 
/* Экранная keypad для ввода цифр */

.CREDIT-REQUEST .leftDataAreaString  {
	position: absolute;
	top:400px;	
	left: 80px;
	width: 1126px;
	height: 152px;
	background-image:url('../images/CREDIT-REQUEST-inputFio.png');
	display:inline;
	z-index:100;
}

/* слой на странице data-entry */
.CREDIT-REQUEST .leftDataArea {
	position: absolute;
	top:300px;	
	left: 60px;
	width: 597px;
	height: 588px;
	background-image:url('../images/inputnumber-bgr-left.png');
	display:inline;
	z-index:100;
}


.CREDIT-REQUEST  #dataArea {
	top: 230px;
}

/* ниже идут элементы на страницу data-entry: название вводимого поля, сам элемент поля (input) и описание вводимого поля */
.CREDIT-REQUEST  #dataArea #fieldName {
	font-size: 25px;
	font-weight : bold;
	color: #0d3d84;
	position:absolute;
	top:35px;
	--left:-90px;	
	text-align: center;
	vertical-align: bottom;	
	text-indent: 0px;	
	padding: 0px;	
	z-index:90;
	height:100;
	width:600;	
}

/* активная кнопка ДАЛЕЕ при вводе полей */
.CREDIT-REQUEST  #nextField {
	display:inline;
	position:absolute;
	left:355px;
	top:410px;
	width:244px;
	height:80px;
	z-index:100;
	background-repeat: no-repeat;
}

.line {
	position: absolute;
	top:370px;	
	left: 80px;
	width: 1127px;
	height: 101px;
	background-image:url('../images/CREDIT-REQUEST-infofon.png');
	display:inline;
	background-repeat: no-repeat;
	z-index:100;
}

.checkBox {
	position: relative;
	top:-10px;	
	left: 80px;
	width: 50;
	height: 50;
	background-image:url('../images/CREDIT-REQUEST-useryes.png');
	display:inline;
	background-repeat: no-repeat;
	z-index:100;
}
.details {
	position: relative;
	top:8px;	
	left: 772px;
	width: 300;
	height: 85;
	background-image:url('../images/CREDIT-REQUEST-information.png');
	display:inline;
	background-repeat: no-repeat;
	z-index:100;
}

.credit-request-info #data {
	position: absolute;
	top:240px;	
	left: 40px;
	width: 1200px;
	color: #0d3d84;
	font-size: 27px;
	text-align: left;
}

.data-entry-CREDIT-REQUEST #data {
	position: absolute;
	top:340px;	
	left: 40px;
	width: 1200px;
	color: #0d3d84;
	font-size: 27px;
	text-align: center;
}

.data-entry-8538 #data {
	position: absolute;
	top:260px;	
	left: 40px;
	width: 1200px;
	color: #0d3d84;
	font-size: 27px;
	text-align: center;
}

/* ПОИСК */

.found {
	position: absolute;
	top:240px;	
	left: 60px !important;
	text-align: left !important;
	background-image: none !important;

}

.found-disabled {
	background-image: none !important;
	display: none !important;
}

.find #data {
	width:1280px;
	top: 200px !important;
    text-align: left !important; 
}

/* Файл дополнительных стилей 
   Автор Сачков Сергей Александрович
   Версия 1.0 от 26.10.2011
*/


/* Стили для кнопок клавиатуры */
.keyboardNum 
{
   
    background-image: url('../images/frmFind/Keyboard/keyEmpty.png');
    vertical-align: middle;
    width:80px; 
    height:80px;
    padding-bottom:5px;
    font-family:'Arial Cyr'; 
    font-size:35px;  
    font-weight:bold; 
    text-align:center; 
    vertical-align:middle;
    color:Black;
}

.keyboardRus 
{
   
    background-image: url('../images/frmFind/Keyboard/keyEmpty.png');
    vertical-align: middle;
    width:80px; 
    height:80px;
    padding-bottom:9px;
    font-family:Arial Cyr;    
    font-size:34px;  
    font-weight:bold; 
    text-align:center; 
    vertical-align:middle;
    color:Black;
}

.keyboardLayout
{
    background-image: url('../images/frmFind/Keyboard/keyRusEmpty.png');
    vertical-align: middle;
    width:160px; 
    height:80px;
    padding-bottom:5px;
    font-family:Tahoma;    
    font-size:20px;  
    font-weight:bold; 
    text-align:center; 
    vertical-align:middle;
    color:Black;
}
 
.keyboardSpace
{
    background-image: url('../images/frmFind/Keyboard/keySpaceEmpty.png');
    vertical-align: middle;
    width:320px; 
    height:80px;
    padding-bottom:5px;
    font-family:Tahoma;    
    font-size:20px;  
    font-weight:bold; 
    text-align:center; 
    vertical-align:middle;
    color:Black;
}

/* Стили для экранной формы поиска frmFind.html */
.findName {
	font-size: 25px;
	font-weight : normal;
	color: #103c81;
	text-align: l;
	vertical-align: bottom;
	text-indent: 0px;
	padding: 0px;
	z-index:90;
	height:100;
	width:458;
}

.findValue {
	display:inline;
	font-size: 28px;
	font-weight: normal;
	color: gray;
	position:relative;
	text-align: left;
	vertical-align: middle;
	text-indent: 0px;
	padding: 10px;
	height:70;
	width:900;
}

/* Выбор типа платежа*/

.paymentType {
	border: 0;
	display:inline;
	padding:0px;
	height:auto;
	width:1118px;
	text-align: center;
	vertical-align: middle;
	padding:20;
	z-index:100;
}

.paymentTypeTop{
	display:block;
	width:1118px;
	background-image:url('../images/button_top.png');	
	text-align: center;
	vertical-align: bottom;
	z-index:100;
}

.paymentTypeData {
	display:block;
	padding:0px;
	font-size: 28px;
	width:1118px;
	background-image:url('../images/button_data.png');	
	text-align: center;
	vertical-align: middle;
	z-index:100;
}

.paymentTypeBottom {
	display:block;
	width:1118px;
	background-image:url('../images/button_bottom.png');	
	text-align: center;
	vertical-align: top;
	z-index:100;
}

/* ячейка статусной строки */
.eject-card #status {
	display: inline;
	position: absolute;
	top : 200px;
	left: 80px;
	width: 1120px;
	height: 91px;
	text-align: center;	
	background-image:url('../images/cardeject_alert.png');		
}

.eject-card #data {
	width: 1000px;
	left: 140px;
	top: 320px;
	color: #0d3d84;
	font-size: 25px;
}

.capture-card #data {
	width: 1000px;
	left: 140px;
	top: 320px;
	color: #0d3d84;
	font-size: 25px;
}

.card-captured #data {
	width: 1000px;
	left: 140px;
	top: 320px;
	color: #0d3d84;
	font-size: 25px;
}

/* вывод подсказок, пояснений и уведомлений в (по умолчанию) красной рамке */
.hintMessage {
	margin: 40px;
	padding:0px;
	width:1119px;
}
/* верхняя часть */
.hintMessage .header {
	background-image:url('../images/alert_top.png');
	height: 28px;
}
/* центральная (основная) часть */
.hintMessage .content {
	text-align: center;
	background-image:url('../images/alert_data.png');
	font-size: 28px;
}
/* нижняя часть */
.hintMessage .footer {
	background-image:url('../images/alert_bottom.png');
	height: 28px;
}
