body,.block-main{
    background: #fbf6c3 !important;

}
.form-control{
    background: #fbf6c3 !important;
}
.menu-fixed #sidebar{
    background: #fbf6c3 !important;
}
.breadcrumb{
    background: #fbf6c3 !important;
}
.select2-container{
    background: #fbf6c3 !important;
}

.select2-choices .select2-search-field input{
    background: #fbf6c3 !important;
}
.select2-container .select2-choice,.select2-container .select2-choices,.form-control{
    background: #fbf6c3 !important;
    border-color: #afafaf !important;
}

.nav-buttons > li  {
    background:#fff8b2 !important;
}
.table-striped > tbody > tr:nth-of-type(odd){
    background: #fbf6c3 !important;
}
#header .user-logout{
    background: #f9e7a7 !important;
}
.block-inner,.block-main .block-sub{
    background: #fff8b2 !important;
    border: 1px solid #bfbfbf !important;
}
#header .navbar-inverse{
    background-color: #fff8b2 !important;
    transition: color 0.1s;

}
.total_sum_block_sub {

    background-color: #fff8b2 !important;
    border: 1px solid #b1b1b1 !important;
    transition: color 0.1s;
}
.tabs li a.tabs-inner {
    background-color: #f9e7a7 !important;
    transition: color 0.1s;
}

.table td, .table th{
    background: #fbf6c3 !important;
}

.table-bordered > thead > tr >td,.table-bordered > thead > tr > th{
    background-color: #e4d6a3 !important;

}
.table > thead > tr > th,.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border: 1px solid #bfbfbf !important;
}
.tov-table th{
    font-family: inherit !important;
    font-size: inherit !important;

}