body {
    color: black !important;
   /* font-size: 16px !important;*/
    transition: color 0.1s;
}
#sidebar ul li .list-settings-item{
    font-weight: bold;

}
#sidebar ul li .list-settings-item.sub-item{
    font-weight: normal;

}
#sidebar ul li a {
    color: black !important;
    transition: color 0.1s;
}
