body {
  color:  #5a5a5a !important;
 /* font-size: 14px !important;*/
  transition: color 0.1s;
}
#sidebar ul li a{
  color:  #5a5a5a !important;
  opacity: .8 !important;
  transition: color 0.1s;
  /*font-size: 14px ;*/
}
label{
  color:  #5a5a5a !important;
  transition: color 0.1s;
}
.tov-table th{
  font-size: 10px !important;
}
#sidebar ul li a.guides-group-count{
  color: #e05334 !important;
}