﻿/**/
html, body
{
	font-family:Calibri;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	vertical-align: middle;
	/* IE <= 8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#55FFFF00);
	
}

/* Область внизу с кнопками */
#footer {
	position: absolute;
	height: 100px;
	width: 1280px;
	top: expression((document.body.clientHeight - this.clientHeight) + 'px');
	left:0px;
	z-index:200;
}

/* ячейка статусной строки */
#status {
	position: absolute;
	/* отступ окна выбора от верхнего края */
	top : 115px;
	/* отступ окна выбора от левого края */
	left: 0px;
	width: 1280px;
	text-align: center;	
}

/* слой с id 'data' на странице _default-view.html, в которое загружается различное содержимое в зависимости от состояния */
#data {
	display:inline;
	position:absolute;
	top:400px;
	left:15px;
	width:1250;
	height:400;
	z-index:300;
	font-size: 30px;
	font-weight: normal;
	color: black;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 0px;	
}


/***************************** стили для showAlert (вывод сообщения)  *****************************/
/* Слои для вывода различных сообщений, отображаемых в процессе работы киоска;
по умолчанию накладываются поверх всего содержимого страницы и скрывают его собой */
#modalBG {
	position: absolute;
	top:0px;
	left:0px;
	height:1024px;
	width:1280px;
	z-index:999;
	display:none;
	text-align: center;
	vertical-align: middle;
	/* Можно использовать картинку на весь экран */
	background-color: #333333;
	/* IE9 */
	opacity: .40;
	/* IE <= 8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#55FFFF00);
	/*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40)*/
}

/* стили для фона */
#alertDiv {
	display: none;
	padding:0px;
	position: absolute;
	top:0px;
	left:0px;
	height:1024px;
	width:1280px;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
}

/* стили для содержимого */
#alertMessageDiv {
	display:block;
	padding:50px;
	font-size:40px;
/*	height:500px;*/
	width:900px;
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
	background-color: white;
}
/* кнопки при выводе сообщения */
.alertButton {
	display:inline;
	margin: 5px 10px 5px 10px;
	background-repeat: no-repeat;
}

/* кнопка НАЗАД для всех страниц */
#cancelButton {
	position: relative;
	display:inline;
	top:20px;
	left:20px;
	height:68px;
	width:219px;
	z-index:100;
}

/* кнопка НАЗАД неактивна (отсутствует) */
.backButton-disabled {
	visibility: hidden;
}

/* кнопка ДАЛЕЕ для всех страниц */
#continueButton {
	display:inline;
	position: relative;
	top:20px;
	left:800px;
	height:68px;
	width:219px;
	z-index:100;
}

/* кнопка ДАЛЕЕ неактивна (отсутствует) */
.forwardButton-disabled {
	visibility: hidden;
}
