.header {
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1)
}

.header .left-side {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px
}

.header .left-side .logo {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px
}

.header .left-side .logo img {
    display: block;
    width: 160px;
    height: auto
}

.header .left-side .search-box {
    display: inline-block;
    max-width: 320px;


}


@media (max-width: 700px){
    .header .left-side .logo { max-width: 90px; }
    .header .right-side .quick-menu > li { max-width: 50px; }
    .header .right-side .quick-menu > li > a { font-size: 7px; }
    .header .right-side .account-info { max-width: 50px; }
    .header .right-side .account-info > a > img { max-width: 30px;max-height: 30px; }
}



@media (min-width: 300px){.header_bab { max-width: 230px; }}
@media (min-width: 600px){.header_bab { max-width: 550px; }}
@media (min-width: 700px){.header_bab { max-width: 650px; }}
@media (min-width: 800px){.header_bab { max-width: 750px; }}
@media (min-width: 1025px){.header_bab { max-width: 700px; }}
@media (min-width: 1100px){.header_bab { max-width: 850px; }}
@media (min-width: 1200px){.header_bab { max-width: 900px; }}
@media (min-width: 1300px){.header_bab { max-width: 1000px; }}
@media (min-width: 1350px){.header_bab { max-width: 1100px; }}
@media (min-width: 1400px){.header_bab { max-width: 1150px; }}
@media (min-width: 1440px){.header_bab { max-width: 1100px; }}
@media (min-width: 1500px){.header_bab { max-width: 1200px; }}
@media (min-width: 1540px){.header_bab { max-width: 1300px; }}
@media (min-width: 1920px){.header_bab { max-width: 1400px; }}



.header .left-side .search-box .search {
    position: relative;
    display: table;
    border-collapse: separate
}

.header .left-side .search-box .search input {
    position: relative;
    display: block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #e0e0e0;
    float: left;
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    color: #212121;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .20s, -webkit-box-shadow ease-in-out .20s;
    -o-transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s;
    transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s
}

.header .left-side .search-box .search input:focus {
    border-color: #2196F3;
    outline: 0
}

.header .left-side .search-box .search .input-group-btn {
    display: block
}

.header .left-side .search-box .search .input-group-btn button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.header .left-side .search-box .search-note {
    display: block;
    font-size: 11px;
    font-style: italic
}

.header .right-side {
    position: relative;
    display: flex;
    float: right;
    margin-right: 15px;
    align-items: center
}

.header .right-side .dropdown-messages {
    display: none;
    position: absolute;
    top: 95px;
    left: -20px;
    width: 315px;
    height: auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
}

.header .right-side .dropdown-messages:before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #e0e0e0 transparent;
    top: -10px;
    left: 62px;
    content: ' '
}

.header .right-side .dropdown-messages:after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffff transparent;
    top: -8px;
    left: 64px;
    content: ' '
}

.header .right-side .dropdown-messages .messages-list {
    overflow: auto;
    max-height: 400px
}

.header .right-side .dropdown-messages .messages-list li {
    border-bottom: 1px solid #e0e0e0
}

.header .right-side .dropdown-messages .messages-list li:first-child {
    margin-top: 15px
}

.header .right-side .dropdown-messages .messages-list li:last-child {
    margin-bottom: 15px;
    border-bottom: 0
}

.header .right-side .dropdown-messages .messages-list li a {
    display: flex;
    color: #212121;
    min-height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    -webkit-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out
}

.header .right-side .dropdown-messages .messages-list li a:hover, .header .right-side .dropdown-messages .messages-list li a:focus {
    text-decoration: none;
    background-color: #fafafa
}

.header .right-side .dropdown-messages .messages-list li a .message-user-pic {
    display: inline-block;
    margin-left: 15px
}

.header .right-side .dropdown-messages .messages-list li a .message-user-pic > img {
    width: 50px;
    height: 50px;
    border-radius: 50px
}

.header .right-side .dropdown-messages .messages-list li a .message-body {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px
}

.header .right-side .dropdown-messages .messages-list li a .message-body .message-info {
    font-size: 11px
}

.header .right-side .dropdown-messages .messages-list li a .message-body .message-info > .user-name {
    color: #1976D2
}

.header .right-side .dropdown-messages .messages-list li a .message-body .message-info > .order-number {
    float: right
}

.header .right-side .dropdown-messages .messages-list li a .message-body .message-info > .order-red {
    color: #e51c23
}

.header .right-side .dropdown-messages .messages-list li a .message-body .message-text {
    margin-bottom: 5px;
    width: 205px
}

.header .right-side .dropdown-messages .messages-list li a .message-body .message-time {
    font-size: 11px;
    line-height: 1;
    text-align: right;
    color: #9e9e9e
}










.header .right-side .dropdown-notification {
    display: none;
    position: absolute;
    top: 95px;
    left: -70px;
    width: 200px;
    height: auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
}

.header .right-side .dropdown-notification:before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #e0e0e0 transparent;
    top: -10px;
    left: 108px;
    content: ' '
}

.header .right-side .dropdown-notification:after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffff transparent;
    top: -8px;
    left: 110px;
    content: ' '
}

.header .right-side .dropdown-notification .notification-list {
    overflow: auto;
    max-height: 400px
}

.header .right-side .dropdown-notification .notification-list li {
    border-bottom: 1px solid #e0e0e0
}

.header .right-side .dropdown-notification .notification-list li:first-child {
    margin-top: 15px
}

.header .right-side .dropdown-notification .notification-list li:last-child {
    margin-bottom: 15px;
    border-bottom: 0
}

.header .right-side .dropdown-notification .notification-list li a {
    display: flex;
    color: #212121;
    min-height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    -webkit-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out
}

.header .right-side .dropdown-notification .notification-list li a:hover, .header .right-side .dropdown-notification .notification-list li a:focus {
    text-decoration: none;
    background-color: #fafafa
}

.header .right-side .dropdown-notification .notification-list li a .message-user-pic {
    display: inline-block;
    margin-left: 15px
}

.header .right-side .dropdown-notification .notification-list li a .message-user-pic > img {
    width: 50px;
    height: 50px;
    border-radius: 50px
}

.header .right-side .dropdown-notification .notification-list li a .message-body {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px
}

.header .right-side .dropdown-notification .notification-list li a .message-body .message-info {
    font-size: 11px
}

.header .right-side .dropdown-notification .notification-list li a .message-body .message-info > .user-name {
    color: #1976D2
}

.header .right-side .dropdown-notification .notification-list li a .message-body .message-info > .order-number {
    float: right
}

.header .right-side .dropdown-notification .notification-list li a .message-body .message-info > .order-red {
    color: #e51c23
}

.header .right-side .dropdown-notification .notification-list li a .message-body .message-text {
    margin-bottom: 5px;
    width: 205px
}

.header .right-side .dropdown-notification .notification-list li a .message-body .message-time {
    font-size: 11px;
    line-height: 1;
    text-align: right;
    color: #9e9e9e
}




#sortable_user_columns, #sortable_table_columns {
    width: 100%;
    height: 100%;
    display: block;
    min-height: 200px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;

}

#sortable_table_columns li{
    margin: 1% 1% 1% 25% !important;
}

#sortable_user_columns li{
    margin: 1% 25% 1% 1% !important;
}

#sortable_user_columns li, #sortable_table_columns li {
    cursor: pointer;
    color: #212121;
    background-color: #e6e6e6;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid #c1c1c1;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 2px;
}






















.header .right-side .quick-menu {
    display: inline-block;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px
}

.header .right-side .quick-menu > li {
    float: left;
    display: inline-block;
    padding: 0 15px
}

.header .right-side .quick-menu > li:first-child {
    padding-left: 0
}

.header .right-side .quick-menu > li:last-child {
    padding-right: 0
}

.header .right-side .quick-menu > li > a {
    position: relative;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px
}

.header .right-side .quick-menu > li > a:hover:before, .header .right-side .quick-menu > li > a:focus:before {
    opacity: .8
}

.header .right-side .quick-menu > li > a:visited {
    color: #424242
}

.header .right-side .quick-menu > li > a:before {
    display: block;
    content: ' ';
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto
}

.header .right-side .quick-menu > li > a .bubble {
    top: 0;
    right: 10%;
    position: absolute;
    display: block;
    font-size: 12px;
    line-height: 1;
    min-width: 12px;
    padding: 3px 6px;
    background-color: #e51c23;
    color: #fff;
    text-align: center;
    border-radius: 100px
}

.header .right-side .quick-menu .navbar-top-ico-message:before {
    background-image: url("../img/icons/message.svg")
}

.header .right-side .quick-menu .navbar-top-ico-notice:before {
    background-image: url("../img/icons/notice.svg")
}

.header .right-side .quick-menu .navbar-top-ico-help:before {
    background-image: url("../img/icons/help.svg")
}

.header .right-side .account-info {
    position: relative
}

.header .right-side .account-info > a {
    position: relative;
    display: block;
    margin: 15px;
    line-height: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

.header .right-side .account-info > a:hover, .header .right-side .account-info > a:focus {
    opacity: .8
}

.header .right-side .account-info > a > img {
    border-radius: 100px;
    width: 50px;
    height: 50px
}

.header .right-side .account-info .account-info-dropdown {
    position: absolute;
    display: none;
    width: 300px;
    height: auto;
    top: 95px;
    right: 0;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
}

.header .right-side .account-info .account-info-dropdown:after {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 10px;
    height: 10px;
    top: -5px;
    right: 35px;
    content: ' ';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.header .right-side .account-info .account-info-dropdown .account-picture {
    display: inline-block;
    vertical-align: top;
    line-height: 0
}

.header .right-side .account-info .account-info-dropdown .account-picture > a {
    position: relative;
    display: block
}

.header .right-side .account-info .account-info-dropdown .account-picture > a:hover .edit-photo, .header .right-side .account-info .account-info-dropdown .account-picture > a:focus .edit-photo {
    opacity: 1
}

.header .right-side .account-info .account-info-dropdown .account-picture > a > img {
    width: 90px;
    height: 90px;
    border-radius: 90px
}

.header .right-side .account-info .account-info-dropdown .account-picture > a > .edit-photo {
    position: absolute;
    display: block;
    top: 0;
    text-align: center;
    padding: 45px 0;
    color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

.header .right-side .account-info .account-info-dropdown .account-body {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    max-width: 159px
}

.header .right-side .account-info .account-info-dropdown .account-body span {
    display: block;
    line-height: 1
}

.header .right-side .account-info .account-info-dropdown .account-body .account-title {
    font-size: 15px;
    margin-bottom: 6px
}

.header .right-side .account-info .account-info-dropdown .account-body .account-company {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 8px
}

.header .right-side .account-info .account-info-dropdown .account-body .account-email {
    color: #9e9e9e;
    margin-bottom: 15px
}

.header .right-side .account-info .account-info-dropdown .account-body .account-logout {
    position: relative;
    color: #e51c23;
    padding-left: 26px;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

.header .right-side .account-info .account-info-dropdown .account-body .account-logout:hover, .header .right-side .account-info .account-info-dropdown .account-body .account-logout:focus {
    opacity: .7
}

.header .right-side .account-info .account-info-dropdown .account-body .account-logout:before {
    position: absolute;
    content: ' ';
    top: -5px;
    left: 0;
    background-image: url("../img/icons/logout.svg");
    width: 24px;
    height: 24px
}

.main-menu {
    position: relative;
    background-color: #424242;
    color: #fff;
    z-index: 5;
    -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1)
}

.main-menu .main-menu-list {
    position: fixed;
    display: block;
    overflow: hidden;
    width: 60px;
    padding: 15px 0
}

.main-menu .main-menu-list.main-menu-list-open {
    width: 200px
}

.main-menu .main-menu-list .main-menu-item {
    display: block;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    opacity: .6;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

.main-menu .main-menu-list .main-menu-item:hover, .main-menu .main-menu-list .main-menu-item:focus {
    opacity: 1
}

.main-menu .main-menu-list .main-menu-item .main-menu-item-ico {
    display: block;
    position: absolute;
    top: 8px;
    left: 14px;
    width: 32px;
    height: 32px
}

.main-menu .main-menu-list .main-menu-item .main-menu-item-title {
    color: #fff;
    opacity: 0;
    font-size: 15px;
    line-height: 18px;
    padding: 15px 15px 15px 50px;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

.main-menu .main-menu-list .main-menu-item .main-menu-item-title-open {
    opacity: 1
}

.main-menu .main-menu-list .main-menu-item .ico-clients {
    background-image: url("../img/icons/clients.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-manager {
    background-image: url("../img/icons/manager.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-cashbox {
    background-image: url("../img/icons/cashbox.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-sales-service {
    background-image: url("../img/icons/sales_service.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-trucks {
    background-image: url("../img/icons/trucks.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-wallet {
    background-image: url("../img/icons/wallet.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-users {
    background-image: url("../img/icons/users.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-organisations {
    background-image: url("../img/icons/organisations.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-costs {
    background-image: url("../img/icons/costs.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-settings {
    background-image: url("../img/icons/settings.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-shop {
    background-image: url("../img/icons/shop.svg")
}

.main-menu .main-menu-list .main-menu-item .ico-analitics {
    background-image: url("../img/icons/analitics.svg")
}

.main-menu .drowdown-panel {
    position: absolute;
    display: none;
    left: 100%;
    height: 100%;
    top: 0;
    width: 260px;
    color: #212121;
    background-color: #fff;
    -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1)
}

.main-menu .drowdown-panel.active {
    display: block
}

.main-menu .drowdown-panel .title {
    display: block;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px
}

.main-menu .drowdown-panel .btn {
    margin-left: 15px
}

.main-menu .drowdown-panel ul {
    padding: 15px 0;
    margin: 0
}

.main-menu .drowdown-panel ul a {
    position: relative;
    display: block;
    line-height: 20px;
    color: #212121;
    padding: 10px 15px 10px 55px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out
}

.main-menu .drowdown-panel ul a:hover, .main-menu .drowdown-panel ul a:focus {
    text-decoration: none;
    background-color: #E3F2FD
}

.main-menu .drowdown-panel ul a:before {
    content: ' ';
    position: absolute;
    opacity: .8;
    left: 15px;
    top: 4px;
    width: 32px;
    height: 32px;
    background-size: cover
}

.main-menu .drowdown-panel ul .ico-cash:before {
    background-image: url("../img/icons/cash.svg")
}

.main-menu .drowdown-panel ul .ico-credit-cards:before {
    background-image: url("../img/icons/credit_cards.svg")
}

.main-menu .drowdown-panel ul .ico-truck:before {
    background-image: url("../img/icons/truck.svg")
}

.main-menu .drowdown-panel ul .ico-trailer:before {
    background-image: url("../img/icons/trailer.svg")
}

.main-menu .drowdown-panel ul .ico-salary:before {
    background-image: url("../img/icons/salary.svg")
}

.main-menu .drowdown-panel ul .ico-calendar:before {
    background-image: url("../img/icons/calendar.svg")
}

.main-menu .drowdown-panel ul .ico-employers:before {
    background-image: url("../img/icons/employers.svg")
}

.main-menu .drowdown-panel ul .clients_dark:before {
    background-image: url("../img/icons/clients_dark.svg")
}

.main-menu .drowdown-panel ul .ico-orders:before {
    background-image: url("../img/icons/orders.svg")
}

.main-menu .drowdown-panel ul .ico-orders-map:before {
    background-image: url("../img/icons/orders_map.svg")
}

.main-menu .drowdown-panel ul .ico-user-roles:before {
    background-image: url("../img/icons/user_roles.svg")
}

.main-menu .drowdown-panel ul .ico-fuel:before {
    background-image: url("../img/icons/fuel.svg")
}

.main-menu .drowdown-panel ul .ico-parts:before {
    background-image: url("../img/icons/parts.svg")
}

.main-menu .drowdown-panel ul .ico-etc-parts:before {
    background-image: url("../img/icons/etc_parts.svg")
}

.main-menu .drowdown-panel ul .organisations_dark:before {
    background-image: url("../img/icons/organisations_dark.svg")
}

.main-menu .drowdown-panel ul .ico-fin-politics:before {
    background-image: url("../img/icons/fin_politics.svg")
}

.main-menu .drowdown-panel ul .ico-units:before {
    background-image: url("../img/icons/units.svg")
}

.main-menu .drowdown-panel ul .ico-banks:before {
    background-image: url("../img/icons/banks.svg")
}

.main-menu .drowdown-panel ul .ico-status-money:before {
    background-image: url("../img/icons/status_money.svg")
}

.main-menu .drowdown-panel ul .ico-adv:before {
    background-image: url("../img/icons/adv.svg")
}

.main-menu .drowdown-panel ul .ico-insurance:before {
    background-image: url("../img/icons/insurance.svg")
}

.main-menu .drowdown-panel ul .ico-analitics-item:before {
    background-image: url("../img/icons/analitics_item.svg")
}

.main-menu .drowdown-panel ul .ico-notice:before {
    background-image: url("../img/icons/notice.svg")
}
.main-menu .drowdown-panel ul .ico-orders-active:before {
    background-image: url("../img/icons/orders_active.svg")
}
.main-menu .drowdown-panel ul .ico-orders-complete:before {
    background-image: url("../img/icons/orders_complete.svg")
}

.main-menu .main-menu-expand {
    display: block;
    position: fixed;
    cursor: pointer;
    white-space: nowrap;
    opacity: .6;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

.main-menu .main-menu-expand:hover, .main-menu .main-menu-expand:focus {
    opacity: 1
}

.main-menu .main-menu-expand .main-menu-expand-ico {
    display: block;
    position: absolute;
    top: 12px;
    left: 18px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icons/chevron_right.svg");
    -webkit-transition: transform .4s;
    transition: transform .4s
}

.main-menu .main-menu-expand .main-menu-expand-ico-collapse {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.main-menu .main-menu-expand .main-menu-expand-title {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    opacity: 0;
    padding: 15px 15px 15px 50px;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

.main-menu .main-menu-expand .main-menu-expand-title-open {
    opacity: 1
}

.main-menu-nested {
    width: 60px;
    -webkit-transition: width .3s 60ms;
    transition: width .3s 60ms
}

.main-menu-extended {
    width: 240px
}



table.dataTable {
    width: 100%;
    margin: 0;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff
}

table.dataTable thead th, table.dataTable tfoot th {
    height: 50px;
    font-weight: 500
}

table.dataTable thead th, table.dataTable thead td {
    vertical-align: middle;
    /*padding: 5px 18px;*/
    text-align: left;
    border-bottom: 2px solid #e0e0e0
}

table.dataTable thead th:active, table.dataTable thead td:active {
    outline: none
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #e0e0e0
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right
}

table.dataTable thead .sorting {
    background-image: url("../img/icons/sort_both.png")
}

table.dataTable thead .sorting_asc {
    background-image: url("../img/icons/sort_asc.png")
}

table.dataTable thead .sorting_desc {
    background-image: url("../img/icons/sort_desc.png")
}

table.dataTable thead .sorting_asc_disabled {
    background-image: url("../img/icons/sort_asc_disabled.png")
}

table.dataTable thead .sorting_desc_disabled {
    background-image: url("../img/icons/sort_desc_disabled.png")
}

table.dataTable tbody tr {
    background-color: #fff;
    font-weight: 400
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9
}

table.dataTable tbody th {
    font-weight: 500
}

table.dataTable tbody th, table.dataTable tbody td {
    vertical-align: middle;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ddd
}

table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
    border-top: none
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd
}

table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #ddd
}

table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
    border-top: none
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9
}

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #acbad4
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6
}

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
    background-color: #aab7d1
}

table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
    background-color: #fafafa
}

table.dataTable.order-column tbody tr.selected > .sorting_1, table.dataTable.order-column tbody tr.selected > .sorting_2, table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1, table.dataTable.display tbody tr.selected > .sorting_2, table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad5
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1
}

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3
}

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: #f5f5f5
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b4cd
}

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a8b5cf
}

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b7d1
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #fafafa
}

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #fcfcfc
}

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #fefefe
}

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad5
}

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #aebcd6
}

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8
}

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #eaeaea
}

table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #ececec
}

table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #efefef
}

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #a2aec7
}

table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #a3b0c9
}

table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #a5b2cb
}

table.dataTable.no-footer {
    border-bottom: 1px solid #e0e0e0
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px
}

table.dataTable.compact tfoot th, table.dataTable.compact tfoot td {
    padding: 4px
}

table.dataTable.compact tbody th, table.dataTable.compact tbody td {
    padding: 4px
}

table.dataTable th.dt-left, table.dataTable td.dt-left {
    text-align: left
}

table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center
}

table.dataTable th.dt-right, table.dataTable td.dt-right {
    text-align: right
}

table.dataTable th.dt-justify, table.dataTable td.dt-justify {
    text-align: justify
}

table.dataTable th.dt-nowrap, table.dataTable td.dt-nowrap {
    white-space: nowrap
}

table.dataTable thead th.dt-head-left, table.dataTable thead td.dt-head-left, table.dataTable tfoot th.dt-head-left, table.dataTable tfoot td.dt-head-left {
    text-align: left
}

table.dataTable thead th.dt-head-center, table.dataTable thead td.dt-head-center, table.dataTable tfoot th.dt-head-center, table.dataTable tfoot td.dt-head-center {
    text-align: center
}

table.dataTable thead th.dt-head-right, table.dataTable thead td.dt-head-right, table.dataTable tfoot th.dt-head-right, table.dataTable tfoot td.dt-head-right {
    text-align: right
}

table.dataTable thead th.dt-head-justify, table.dataTable thead td.dt-head-justify, table.dataTable tfoot th.dt-head-justify, table.dataTable tfoot td.dt-head-justify {
    text-align: justify
}

table.dataTable thead th.dt-head-nowrap, table.dataTable thead td.dt-head-nowrap, table.dataTable tfoot th.dt-head-nowrap, table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap
}

table.dataTable tbody th.dt-body-left, table.dataTable tbody td.dt-body-left {
    text-align: left
}

table.dataTable tbody th.dt-body-center, table.dataTable tbody td.dt-body-center {
    text-align: center
}

table.dataTable tbody th.dt-body-right, table.dataTable tbody td.dt-body-right {
    text-align: right
}

table.dataTable tbody th.dt-body-justify, table.dataTable tbody td.dt-body-justify {
    text-align: justify
}

table.dataTable tbody th.dt-body-nowrap, table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap
}

table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1
}

.dataTables_wrapper .dataTables_length {
    float: left
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 2px;
    min-width: 300px;
    border: 1px solid #e0e0e0;
    height: 30px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .20s, -webkit-box-shadow ease-in-out .20s;
    -o-transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s;
    transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s
}

.dataTables_wrapper .dataTables_filter input:focus {
    border-color: #64B5F6;
    outline: 0
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #212121 !important;
    border: 1px solid transparent;
    border-radius: 2px
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #212121 !important;
    border: 1px solid #e0e0e0;
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #9e9e9e !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: grey-900 !important;
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #212121
}

.dataTables_wrapper .dataTables_length label, .dataTables_wrapper .dataTables_filter label, .dataTables_wrapper .dataTables_info label, .dataTables_wrapper .dataTables_processing label, .dataTables_wrapper .dataTables_paginate label {
    font-weight: 400
}

.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter select, .dataTables_wrapper .dataTables_info select, .dataTables_wrapper .dataTables_processing select, .dataTables_wrapper .dataTables_paginate select {
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    color: #212121;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .20s, -webkit-box-shadow ease-in-out .20s;
    -o-transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s;
    transition: border-color ease-in-out .20s, box-shadow ease-in-out .20s
}

.dataTables_wrapper .dataTables_length select:focus, .dataTables_wrapper .dataTables_filter select:focus, .dataTables_wrapper .dataTables_info select:focus, .dataTables_wrapper .dataTables_processing select:focus, .dataTables_wrapper .dataTables_paginate select:focus {
    border-color: #64B5F6;
    outline: 0
}

.dataTables_wrapper .dataTables_scroll {
    clear: both
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
    vertical-align: middle
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #e0e0e0
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table, .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
    border-bottom: none
}

.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em
    }
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover, .clickable-row:focus {
    cursor: pointer;
    background-color: #f5f5f5
}

table.dataTable {
    clear: both;
    max-width: none !important;
    border-collapse: separate !important
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
    text-align: center
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 20px
}

table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
    outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    color: #eee
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none
}

div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }
}

table.dataTable.table-condensed > thead > tr > th {
    padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    margin: 0
}

a {
    text-decoration: none;
    cursor: pointer
}

a:hover, a:focus {
    text-decoration: none
}

.link {
    color: #2196F3;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out
}

.link:hover, .link:focus {
    color: #e51c23
}

.link.link-grey {
    color: #9e9e9e
}

.link.link-grey:hover, .link.link-grey:focus {
    color: #e51c23
}

.link.link-dark-grey {
    color: #212121
}

.link.link-dark-grey:hover, .link.link-dark-grey:focus {
    color: #e51c23
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-25 {
    margin-right: 25px
}

.mr-30 {
    margin-right: 30px
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-25 {
    margin-left: 25px
}

.ml-30 {
    margin-left: 30px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.row-controls {
    text-align: right;
    white-space: nowrap
}

.row-controls .edit-row {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/edit.svg");
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

.row-controls .edit-row:hover, .row-controls .edit-row:focus {
    opacity: .6
}

.row-controls .delete-row {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/delete_red.svg");
    background-repeat: no-repeat;
    margin-left: 10px;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

.row-controls .delete-row:hover, .row-controls .delete-row:focus {
    opacity: .6
}

.login .login-logo {
    padding: 60px 15px 20px
}

.login .login-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px
}

.login .btn-login {
    padding-left: 20px;
    padding-right: 20px
}

.table {
    width: 100%
}

.container-fluid, .container {
    width: 100%;
    /*width: 100%*/
}

.page-heading {
    margin-top: 20px;
    margin-bottom: 10px
}

.page-heading h1 {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block
}

.page-heading .btn {
    vertical-align: middle;
    display: inline-block
}

.page-subheading {
    margin-top: 10px;
    margin-bottom: 10px
}

.page-subheading h2 {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    vertical-align: middle
}

.page-subheading .btn {
    display: inline-block;
    vertical-align: middle
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0
}

.divider {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #e0e0e0
}

.parameters li {
    display: inline-block;
    line-height: 1.4
}

.parameters li:after {
    content: '/';
    color: #e0e0e0;
    margin-left: 8px;
    margin-right: 4px
}

.parameters li:last-child:after {
    content: none
}

.info-group {
    display: block;
    margin-bottom: 10px
}

.info-group label {
    color: #9e9e9e;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400
}

.info-group .value {
    float: right;
    display: inline-block;
    width: auto;
    vertical-align: middle
}

.info-group .value.lg {
    font-weight: 500;
    font-size: 15px
}

.info-group .value .unit {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400
}

.info-group-vertical {
    display: block;
    margin-bottom: 10px
}

.info-group-vertical label {
    color: #9e9e9e;
    display: block;
    max-width: 100%;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3px
}

.info-group-vertical .value {
    display: inline-block;
    width: auto;
    vertical-align: middle
}

.info-group-vertical .value.lg {
    font-weight: 500;
    font-size: 15px
}

.info-group-vertical .value .unit {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400
}

.zigzag {
    background: #fafafa;
    position: relative;
    height: 16px;
    margin-bottom: -3px
}

.zigzag:before, .zigzag:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0
}

.zigzag:before {
    height: 14px;
    bottom: 0;
    background: -webkit-linear-gradient(225deg, #e0e0e0 8px, transparent 0) 0 8px, -webkit-linear-gradient(315deg, #e0e0e0 8px, transparent 0) 0 8px;
    background: linear-gradient(-135deg, #e0e0e0 8px, transparent 0) 0 8px, linear-gradient(135deg, #e0e0e0 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px
}

.zigzag:after {
    height: 16px;
    bottom: 0;
    background: -webkit-linear-gradient(225deg, #fff 8px, transparent 0) 0 8px, -webkit-linear-gradient(315deg, #fff 8px, transparent 0) 0 8px;
    background: linear-gradient(-135deg, #fff 8px, transparent 0) 0 8px, linear-gradient(135deg, #fff 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px
}

.tags ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0
}

.tags ul li {
    display: inline-block;
    margin-right: 2px
}

.tags ul li:last-child {
    margin-right: 0
}

.tags ul li a {
    display: inline-block;
    background-color: #E3F2FD;
    line-height: 1;
    border-radius: 4px;
    padding: 4px 10px;
    margin-bottom: 5px;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out
}

.tags ul li a:hover, .tags ul li a:focus {
    background-color: #e51c23;
    color: #fff
}

.tags ul li a:before {
    margin-right: 3px;
    content: '#'
}

.parameters-toggle {
    display: inline-block;
    position: relative;
    margin-bottom: 10px
}

.parameters-toggle:after {
    position: absolute;
    content: '';
    top: 8px;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.parameters-toggle-collapse:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

#parametersAll {
    display: none
}

.filter h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px
}

.filter .filter-group {
    display: block;
    font-size: 0
}

.filter .filter-group form {
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 15px
}

.filter .filter-group .btn-group {
    vertical-align: top;
    line-height: 0;
    margin-right: 10px;
    margin-bottom: 15px
}

.filter .value-range {
    display: inline-block
}

.filter .value-range .from input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.filter .value-range .to input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.sorting {
    margin-bottom: 15px
}

.sorting .sorting-label {
    display: inline-block;
    margin-right: 10px
}

.sorting .sorting-item {
    display: inline-block;
    margin-right: 20px
}

.sorting .sorting-item .sorting-toggle:after {
    position: absolute;
    content: '';
    /*top: 8px;*/
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    margin-top: 6px;
}

.sorting .sorting-item .sorting-toggle.sorting-toggle-up {
    color: #212121
}

.sorting .sorting-item .sorting-toggle.sorting-toggle-up:after {
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.sorting .sorting-item .sorting-toggle.sorting-toggle-down {
    color: #212121
}

.sorting .sorting-item .sorting-toggle.sorting-toggle-down:after {
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.circle {
    white-space: nowrap
}

.circle:before {
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #9e9e9e;
    content: ' '
}

.circle.red:before {
    background-color: #e51c23
}

.circle.green:before {
    background-color: #4caf50
}

.circle.blue:before {
    background-color: #2196F3
}

.circle.yellow:before {
    background-color: #ffc107
}

.circle.purple:before {
    background-color: #9c27b0
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 80px
}

.content .content-item {
    background: #fff;
    border: 1px solid #e0e0e0
}

.block-main-title {
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px
}

.block-main {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    line-height: 1;
    margin-bottom: 15px;

}

.block-main .block-main-heading {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px
}

.block-main .block-sub {
    padding: 20px 15px;
}

.block-main .rur:after {
    content: "\20BD";
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px
}

.block-main .title-large {
    font-size: 18px;
    display: block;
    margin-bottom: 5px
}

.block-main .digit-large {
    display: block;
    font-size: 24px;
    font-weight: 500
}

.block-main .digit-extra-large {
    display: block;
    font-size: 36px;
    font-weight: 500
}

.block-main .graph-doughnut {
    margin-bottom: 20px
}

.block-main .graph {
    margin-bottom: 10px
}

.block-main .graph .title {
    display: block;
    margin-bottom: 5px
}

.block-main .graph .value {
    display: block;
    font-size: 18px;
    font-weight: 500
}

.trucks-item, .trailer-item {
    display: block;
    color: #212121;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    -webkit-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out
}

.trucks-item:hover, .trucks-item:focus, .trailer-item:hover, .trailer-item:focus {
    color: #212121;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.trucks-item:active, .trailer-item:active {
    -webkit-box-shadow: 0 10px 20px #2196f3;
    box-shadow: 0 10px 20px #2196f3
}

.trucks-item img, .trailer-item img {
    margin-bottom: 5px
}

.trucks-item .truck-link, .trucks-item .trailer-link, .trucks-item .route-link, .trailer-item .truck-link, .trailer-item .trailer-link, .trailer-item .route-link {
    display: block;
    color: #212121;
    -webkit-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out
}

.trucks-item .truck-link:hover, .trucks-item .truck-link:focus, .trucks-item .trailer-link:hover, .trucks-item .trailer-link:focus, .trucks-item .route-link:hover, .trucks-item .route-link:focus, .trailer-item .truck-link:hover, .trailer-item .truck-link:focus, .trailer-item .trailer-link:hover, .trailer-item .trailer-link:focus, .trailer-item .route-link:hover, .trailer-item .route-link:focus {
    background-color: #E3F2FD
}

.trucks-item .title, .trailer-item .title {
    color: #9e9e9e;
    margin-bottom: 3px
}

.trucks-item .info, .trailer-item .info {
    padding: 10px 15px 5px
}

.trucks-item .info .brand, .trailer-item .info .brand {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 3px
}

.trucks-item .info .brand .model, .trailer-item .info .brand .model {
    font-weight: 400
}

.trucks-item .info .reg-info, .trailer-item .info .reg-info {
    margin-bottom: 3px
}

.trucks-item .location, .trailer-item .location {
    position: relative;
    display: block;
    padding: 10px 15px
}

.trucks-item .location .region, .trailer-item .location .region {
    font-weight: 500
}

.order-item {
    display: block;
    color: #212121;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    line-height: 1;
    margin-bottom: 15px;
    -webkit-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out
}

.order-item:hover, .order-item:focus {
    color: #212121;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.order-item .title {
    font-size: 11px;
    color: #9e9e9e;
    margin-bottom: 3px
}

.order-item .order-title {
    padding: 15px
}

.order-item .order-title .order-number {
    font-size: 15px;
    font-weight: 500
}

.order-item .order-title .order-number:before {
    content: '\23'
}

.order-item .order-title .status {
    float: right
}

.order-item .order-contacts {
    padding: 15px 15px 5px
}

.order-item .order-contacts label {
    font-size: 11px;
    color: #9e9e9e;
    font-weight: 400;
    margin-bottom: 2px
}

.order-item .order-contacts .name {
    margin-bottom: 10px
}

.order-item .order-info {
    padding: 15px
}

.order-item .order-summary {
    padding: 15px
}

.order-item .order-summary .discount {
    display: inline-block
}

.order-item .order-summary .discount .value:after {
    margin-left: 3px;
    content: '\25'
}

.order-item .order-summary .total {
    display: inline-block;
    float: right
}

.order-item .order-summary .total .title {
    text-align: right
}

.order-item .order-summary .total .value {
    font-size: 15px;
    font-weight: 500
}

.order-item .order-summary .total .value:after {
    margin-left: 3px;
    content: '\20BD'
}

.block-inner {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    overflow: auto;
}

.block-inner .block-inner-heading {
    font-size: 18px;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 10px
}

.block-inner .block-inner-subheading {
    font-size: 15px;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px
}

.route-summary .route-summary-item {
    position: relative;
    margin-bottom: 10px
}

.route-summary .route-summary-item .location {
    display: block;
    padding: 6px 12px 6px 30px
}

.route-summary .point-tag {
    text-transform: uppercase;
    top: 4px;
    left: 0;
    color: #fff;
    position: absolute;
    padding: 2px 7px;
    border-radius: 100px
}

.route-summary .point-tag.start {
    background-color: #e51c23
}

.route-summary .point-tag.middle {
    background-color: #4caf50
}

.route-summary .point-tag.finish {
    background-color: #2196F3
}

.order-progress {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    position: fixed;
    top: 142px;
    width: 15%;
    padding: 15px
}

.order-progress .order-progress-heading {
    font-size: 18px;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 20px
}

.order-progress .progress-item {
    position: relative;
    margin-bottom: 15px
}

.order-progress .progress-item > .check {
    position: absolute;
    display: block;
    top: 2px;
    width: 18px;
    height: 14px;
    margin-right: 5px;
    background-image: url("../img/icons/check_gray.svg")
}

.order-progress .progress-item > .check.complete {
    background-image: url("../img/icons/check_green.svg")
}

.order-progress .progress-item > a {
    color: #212121;
    padding-left: 25px;
    display: block;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out
}

.order-progress .progress-item > a:hover, .order-progress .progress-item > a:focus {
    color: #e51c23
}

.order-progress p {
    color: #9e9e9e;
    font-style: italic
}

.route-planner .route-constructor .form-group {
    position: relative
}

.route-planner .route-constructor .form-group input {
    padding-left: 40px
}

.route-planner .route-constructor .point-tag {
    text-transform: uppercase;
    top: 5px;
    left: 10px;
    color: #fff;
    position: absolute;
    padding: 2px 7px;
    border-radius: 100px
}

.route-planner .route-constructor .point-tag.start {
    background-color: #e51c23
}

.route-planner .route-constructor .point-tag.middle {
    background-color: #4caf50
}

.route-planner .route-constructor .point-tag.finish {
    background-color: #2196F3
}

.route-planner .route-constructor .add-point {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 0;
    color: #9e9e9e;
    position: relative;
    padding: 6px 10px 6px 40px;
    margin-bottom: 15px;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out
}

.route-planner .route-constructor .add-point:hover, .route-planner .route-constructor .add-point:focus {
    outline: none;
    color: #e51c23
}

.route-planner .route-constructor .add-point:before {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    content: '';
    background-position: center center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-image: url("../img/icons/plus.svg");
    border-radius: 100px;
    border: 1px dashed #9e9e9e
}

.worker-item {
    display: block;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #212121;
    margin-bottom: 15px;
    -webkit-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out
}

.worker-item:hover, .worker-item:focus {
    color: #212121;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.worker-item .worker-title {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 3px;
    overflow: hidden
}

.worker-item .worker-title .surname {
    margin-right: 5px
}

.worker-item .worker-position {
    font-style: italic;
    margin-bottom: 15px
}

.license-plate {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    width: 120px;
    height: 24px;
    border: 1px solid #212121;
    font-size: 17px;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: 5px
}

.license-plate.lg {
    width: 180px;
    height: 36px;
    font-size: 26px
}

.license-plate.lg:before {
    top: 18px;
    left: 3px;
    width: 173px;
    height: 2px;
    border-left: 2px solid #212121;
    border-right: 2px solid #212121
}

.license-plate.lg:after {
    right: 40px;
    height: 35px;
    width: 1px;
    background-color: #000
}

.license-plate.lg .serie-first {
    width: 21px;
    left: 8px;
    bottom: 0
}

.license-plate.lg .register-code-standart {
    left: 32px;
    font-size: 34px
}

.license-plate.lg .register-code-trailer {
    width: 83px;
    left: 8px;
    font-size: 34px
}

.license-plate.lg .serie-trailer {
    left: 4px
}

.license-plate.lg .serie-last {
    width: 44px;
    left: 89px
}

.license-plate.lg .region-code {
    width: 33px;
    font-size: 20px;
    right: 4px;
    top: 2px
}

.license-plate.lg .country {
    font-size: 10px;
    right: 18px
}

.license-plate.lg .flag {
    right: 4px;
    bottom: 1px;
    width: 13px;
    height: 11px
}

.license-plate.lg .flag:after {
    width: 11px;
    height: 9px;
    top: 1px;
    left: 1px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #d01716
}

.license-plate:before {
    position: absolute;
    content: '';
    top: 10px;
    left: 1px;
    width: 116px;
    height: 2px;
    border-left: 2px solid #212121;
    border-right: 2px solid #212121
}

.license-plate:after {
    position: absolute;
    right: 31px;
    top: 0;
    content: '';
    height: 23px;
    width: 1px;
    background-color: #000
}

.license-plate .serie-first {
    width: 21px;
    text-align: right;
    position: absolute;
    left: 4px;
    bottom: 0
}

.license-plate .register-code-standart {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 21px;
    line-height: 1
}

.license-plate .register-code-trailer {
    width: 83px;
    text-align: right;
    position: absolute;
    left: 36px;
    bottom: 0;
    font-size: 21px;
    line-height: 1
}

.license-plate .serie-trailer {
    position: absolute;
    left: 4px;
    bottom: 0
}

.license-plate .serie-last {
    width: 44px;
    text-align: center;
    position: absolute;
    left: 55px;
    bottom: 0
}

.license-plate .region-code {
    width: 20px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: 6px;
    top: 0
}

.license-plate .country {
    font-size: 8px;
    position: absolute;
    right: 15px;
    bottom: 0
}

.license-plate .flag {
    position: absolute;
    right: 4px;
    bottom: 1px;
    width: 10px;
    height: 8px;
    background-color: #000
}

.license-plate .flag:after {
    position: absolute;
    width: 8px;
    height: 6px;
    top: 1px;
    left: 1px;
    content: '';
    border-top: 2px solid #fff;
    background-color: #1976D2;
    border-bottom: 2px solid #d01716
}

.chat {
    list-style-type: none;
    list-style: none;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding: 15px;
    overflow-y: scroll;
    height: 400px
}

.chat li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e0e0e0
}

.chat li .chat-img img {
    width: 80px
}

.chat li.left .chat-body {
    margin-left: 100px
}

.chat li.right .chat-body {
    margin-right: 100px
}

.chat li .chat-body p {
    margin: 0;
    color: #616161
}

.edit-photo {
    position: relative;
    padding-left: 25px;
    color: #212121
}

.edit-photo:before {
    position: absolute;
    left: 0;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/edit.svg");
    background-repeat: no-repeat
}

.delete-photo {
    position: relative;
    padding-left: 22px;
    color: #212121
}

.delete-photo:before {
    position: absolute;
    left: 0;
    content: '';
    width: 12px;
    height: 16px;
    background-image: url("../img/icons/delete_red.svg");
    background-repeat: no-repeat
}

.shutter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    -webkit-transition: visibility 0 .3s, opacity .3s ease-out;
    transition: visibility 0 .3s, opacity .3s ease-out
}

.dummy {
    display: none;
    padding-top: 30px
}

.dummy .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 30px
}

.dummy img {
    width: 100%
}

.modal-wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

.modal .modal-header {
    padding: 15px;
    background-color: #fff
}

.modal .modal-header .modal-heading {
    font-size: 24px;
    margin-bottom: 5px
}

.modal .modal-body {
    padding: 15px;
    max-height: 600px;
    overflow-y: auto;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0
}

.modal .modal-body .modal-body-heading {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px
}

.modal .modal-body .modal-body-subheading {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 15px
}

.modal .modal-body table {
    border: 1px solid #e0e0e0
}

.modal .modal-footer {
    text-align: right;
    padding: 15px;
    background-color: #fff
}


/*
@media (max-width: 1024px) {
    .header {
        display: none
    }

    .content {
        display: none
    }

    .dummy {
        display: block
    }
}
*/


