﻿#keyboard {
	background-image:url('../images/az/show_keyboard.gif');
}

#keyboard.hide {
	background-image:url('../images/az/hide_keyboard.gif');
}

#back-page {
	background-image:url('../images/az/back.gif');
}

#forward-page {
	background-image:url('../images/az/forward.gif');
}

#exit {
	background-image:url('../images/az/home.gif');
}