﻿body { 
	width: 1280px;
	height : 70px;
	overflow: hidden;
}

.show-page table {
	width: 1270px;
}
.show-page td{
	width: auto;
}

#keyboard {
	display: inline;
	width: 319px;
	height: 68px;
	background-repeat: no-repeat;
}

#keyboard.disabled {
	display: none;
}

#back-page {
	display: inline;
	width: 219px;
	height: 68px;
	background-repeat: no-repeat;
}

#forward-page {
	display: inline;
	width: 219px;
	height: 68px;
	background-repeat: no-repeat;
}

#exit {
	display: inline;
	width: 219px;
	height: 68px;
	background-repeat: no-repeat;
}