﻿#keyboard {
	background-image:url('../images/en/show_keyboard.gif');
}

#keyboard.hide {
	background-image:url('../images/en/hide_keyboard.gif');
}

#back-page {
	background-image:url('../images/en/back.gif');
}

#forward-page {
	background-image:url('../images/en/forward.gif');
}

#exit {
	background-image:url('../images/en/home.gif');
}