﻿#keyboard {
	background-image:url('../images/ru/show_keyboard.gif');
}

#keyboard.hide {
	background-image:url('../images/ru/hide_keyboard.gif');
}

#back-page {
	background-image:url('../images/ru/back.gif');
}

#forward-page {
	background-image:url('../images/ru/forward.gif');
}

#exit {
	background-image:url('../images/ru/home.gif');
}