﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />

<!-- Сообщение в строке статуса -->
<script type="text/html" id="statusTemplate">
<table class="statustxt"><tr><td><%=toString()%></td></tr></table>
</script>

<!-- Сообщение в  рамке с фоном -->
<script type="text/html" id="borderedMessageTemplate">
<table cellspacing="0" class="hintMessage">
	<tr><td class="header"></td></tr>
		<tr><td class="content">
		<%= (typeof join !== "undefined") ? join("<br>") : toString() %>
		</td></tr>
	<tr><td class="footer"></td></tr>
</table>
</script>

<!-- Способ оплаты -->
<script type="text/html" id="paymentMethodTemplate">
<div id="paymentMethod<%=idx%>" class="paymentMethodTemplateDiv" onclick='_["selectPaymentMethod"](<%=idx%>)'>
<img 
src="images//empty.gif" 
border="0" 
width="<%=204%>"
height="<%=132%>"
style='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="<%=imageURL%>", sizingMethod="scale")'>
<br>
<%=name%>
</div>
</script>

<!-- Сводная таблица результатов оплаты коллекции получателей -->
<script type="text/html" id="paymentResultsTable">
<table id="paymentsTable" cellspacing="0">
<tr height="50" valign="middle"><td colspan="3">
<b><%=getMessage("payment.tableHeader")%></b></td></tr>
<%for (var i = 0; i < _.recipientsArray.length; i++) {%>
<tr height="50" valign="middle"><td class="td1">
<%=_.recipientsArray[i].Name%>
</td><td class="td2" id="<%=_.recipientsArray[i].ID%>">&nbsp;</td>
<td class="td3"><div id="description<%=_.recipientsArray[i].ID%>"></div></td></tr>";
<%}%>
</table>
</script>

<script type="text/html" id="fieldValueTemplate">
<tr>
<td align="left" width="auto" height="auto"><b>${fieldName}:</b></td>
<td align="left" width="auto" height="auto">${fieldValue}</td>
</tr>
</script>

<script type="text/html" id="paymentInfoTemplate">
<table border="0" class="fieldsMessage">
<tr>
<td align="left" width="auto" height="auto"><b>Получатель: </b></td>
<td align="left" width="auto" height="auto">${catalogItemName}</td></tr>
${catlogItemFields}
</table>
</script>

<script type="text/html" id="changeInfoTemplate">
&nbsp;<span><%=toString()%>
<% for (var i = 0, c = PaymentDevice.AccumulatedSum.Count; i < c; i++) { var as = PaymentDevice.AccumulatedSum(i); if (as.Value > 0) { %>
<span>
<%=getCurrency(as.CurrencyCode).format(as.Value/100.0)%>
</span>&nbsp;&nbsp;
<%}}%></span>
</script>

</head>
<body>
</body>