﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">
<head>

<!-- Загрузка всех необходимых скриптов -->
<script language="javascript" src="./../../preload.js" type="text/javascript"></script>

<!-- Ввод поля  -->
<script type="text/html" id="dataentryTemplate">
<div>
	<div id="fieldName"><%=fieldPrompt%>:</div>
	<div id="fieldValue"><%=fieldValue%></div>
	<div id="fieldDescription"><%=fieldDescription%></div>
</div>
</script>

<!-- Список выбора -->
<script type="text/html" id="enumItemTemplate">
<div class="enumItem" onclick='_.setEnumValue("<%=fieldValue%>")'>
<img src="<%=enumHeader%>" /><span class="enumItemDescription"><%=fieldDescription%></span><img src="<%=enumFooter%>"/>
</div>
</script>

</head>

<body>

<div id="dataArea" class="leftDataArea">
	<div id="recipientImage" class="currentRecipientPicture"></div>
	<div id="dataentry"></div>
	<div id="prevField" class="previousField-disabled"></div>
	<div id="nextField" class="nextField-disabled"></div>
</div>

<div id="enumInputArea" class="enumInputArea hide">
	<div class="enumItemsTable">
		<div id="enumentry" class="enumentry"></div>
		<div id="enumUp" class="upButton-disabled"></div>
		<div id="enumDown" class="downButton-disabled"></div>
	</div>
</div>
<div id="footerInfo" class="footerInfo"></div>

<div id="footer">
	<div class="backButton-disabled" id="cancelButton"></div>
	<div class="forwardButton-disabled" id="continueButton"></div>
</div>

</body>