﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">
<head>

<!-- Загрузка всех необходимых скриптов -->
<script language="javascript" src="./../../preload.js" type="text/javascript"></script>

<script type="text/html" id="collectRecipientTemplate">
<div id="item">
<div id="itemAlignment">

<% if (thumbnailURL) { %>
<div class="collectRecipientTemplateImage" onclick='_.recount("plus", <%=idx%>)'>
<img
src="images//empty.gif"
width="<%=thumbnailWidth%>"
height="<%=thumbnailHeight%>"
border="0"
style='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="<%=thumbnailURL%>", sizingMethod="scale")'></div>
<% } else { %>
<div class="collectRecipientsNoImage" onclick='_.recount("plus", <%=idx%>)'>
<div class="collectRecipientsNoImageName"><%=name%></div>
</div>
<% } %>
<div class="countingCollection">

<img id="plus<%=idx%>" src="<%=plussrc%>" onClick='_.recount("plus", <%=idx%>)'>

<div style="font-size:50px;" id="counter<%=idx%>">0</div>

<img id="minus<%=idx%>" src="images/dont_minus.png" onClick='_.recount("minus", <%=idx%>)'>

</div>

<div class="transferSum"><%=transferSum%></div>

</div>
</div>
</script>

<script type="text/html" id="rootStatusTemplate">
<table class="statustxt"><tr><td><%=getMessage("recipientsView.paymentRulesLink")%></td>
<td align="right">
<%=changeLocale%></td></tr></table>
</script>

</tr></table>

</head>

<body>
<div id="banner"></div> 
<div id="status">
<span id="groupStatus"></span>
<span id="balanceStatus"></span>
<span id="changeSumStatus"></span>
</div>

<div id="databox">
<div id="data"></div>
</div>

<span id="scrollbox">
<div id="scrollUp" onClick='_.scroll("up")'></div>
<div id="scrollPosition">
<div id="scrollBullet"></div>
</div>
<div id="scrollDown" onClick='_.scroll("down")'></div>
</span>

<div id="collectionInfo">
<div id="totalSumStr"></div>
<div id="totalNumberStr"></div>
</div>

<div id="resetButton" onClick="_.resetAll()"></div>

<div id="footer">
<div class="backButton-disabled" id="cancelButton"></div>
<div class="forwardButton-disabled" id="continueButton"></div>
</div>

</body>