﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">
<head>

<!-- Загрузка всех необходимых скриптов -->
<script language="javascript" src="./../../preload.js" type="text/javascript"></script>

<script type="text/html" id="recipientTemplate">
<% if (thumbnailURL) { %>
	<% if (idx == -1) { %>
		<div class="recipientTemplateImage" onclick='_["find"](<%=idx%>)'>
	<% } else { %>
		<% if (idx == -2) { %>
			<div class="recipientTemplateImage" onclick='_["nextPage"](<%=idx%>)'>
		<% } else { %>
			<div class="recipientTemplateImage" onclick='_["selectItem"](<%=idx%>)'>
		<% } %>
	<% } %>	
<img
src="images//empty.gif"
width="<%=thumbnailWidth%>"
height="<%=thumbnailHeight%>"
border="0"
style='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="<%=thumbnailURL%>", sizingMethod="scale")'></div>
<% } else { %>
<div class="recipientsNoImage" onclick='_["selectItem"](<%=idx%>)'>
<div class="recipientsNoImageName"><%=name%></div>
</div>
<% } %>
</script>

<script type="text/html" id="recipientTemplateCredit">
<div class="recipientTemplateCredit">
<table class="recipientTemplateCredit">

	<tr><td><%=line1%></td></tr>
	<tr><td><%=line2%></td></tr>
	<tr><td><%=line3%></td></tr>
	<tr><td><%=button1%></td></tr>
	<tr><td><%=button2%></td></tr>
	<tr><td><%=button3%></td></tr>
	<tr><td><%=button4%></td></tr>
	<tr><td><%=button5%></td></tr>

</table>
</div>
</script>

<script type="text/html" id="changeLocaleTemplate">
<table><tr>
<%
for (var i = 0, c = PaymentGateway.Locales.Count; i<c; i++ ) {
	if (PaymentGateway.Locales.Item(i).Lang == "") continue;
	
	if (getActiveLocale() == PaymentGateway.Locales.Item(i).Lang) {
%><td class="statustxtlocale" onclick=""><img border=0 src="images\\<%=PaymentGateway.Locales.Item(i).Lang%>\\flag.png"><br><b><%=PaymentGateway.Locales.Item(i).Name%></b></td><%
} else {
%><td onclick='_["changeLocale"](\"<%=PaymentGateway.Locales.Item(i).Lang%>\")'><img border=0 src="images\\<%=PaymentGateway.Locales.Item(i).Lang%>\\flag_.png">
<br><%=PaymentGateway.Locales.Item(i).Name%></td><%
	}
}
%>
</tr></table>
</script>

<script type="text/html" id="rootStatusTemplate">
<table class="statustxt"><tr><td><%=getMessage("recipientsView.paymentRulesLink")%></td>
<td align="right">
<%=changeLocale%></td></tr></table>
</script>

</head>

<body>
<div id="banner"></div> 
<div id="status">
<span id="groupStatus"></span>
<span id="balanceStatus"></span>
<span id="changeSumStatus"></span>
</div>

<div id="data"></div>
<!--script type="text/html" id="claim">
 if (_.currentPageNr>0 || _.currentPageNr<_.lastPageNr) {id="bank";}
 else {"bank": visible=none;}
</script>
<div id="bank"; align="center"; style="margin-top: 800px; font-size:20pt; color:red;">
				<p> Оставьте заявку на добавление поставщиков на сайте express-bank.ru в разделе "Частным лицам - Платежные терминалы" </p>
			</div>
<div id="bankMessage"></div-->			
<div id="cardWaitingMessage"></div>

<div id="footer">
<div class="backButton-disabled" id="cancelButton"></div>
<div class="cardEjectButton-disabled" id="cardEjectButton"></div>
<div class="menuButton-disabled" id="menuButton"></div>
<div class="forwardButton-disabled" id="continueButton"></div>
</div>

</body>