﻿
#complete {
background-image:url('..\images\ru\ok.png');
}

#footer #continueButton  {
	background-image:url('..\images\ru\cancel.png');
}

#fieldComplete {
background-image:url('..\images\ru\ok.png');
}

#fieldComplete.disabled{
background-image:url('..\images\ru\ok_disabled.png');
}