﻿/**/
html, body
{
	font-family:Calibri;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	vertical-align: middle;
	/* IE <= 8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#55FFFF00);
}

/* Область внизу с кнопками */
#footer {
	position: absolute;
	top:900px;
	left:0px;
	height:200px;
	width:100%;
	z-index:200;
}

/* статус состояния инкассации */
#status {
	display:none;
	position: absolute;
	top : 15px;
	width : 100%;
	text-align:center;
	font-size: 40 px;
}

/* Последовательность ввода данных */
#entryState{
	display: none;
	position:absolute;
	top:100 px;
	left:50 px;
}

/* Что-то видимое */
#entryState.visible  {
	display: inline;
}

.activeItem {
	background-color:#FF4040;
	font-size: 30 px;
	border: 2px solid black;
	border-collapse: collapse;

}

.InActiveItem {
	background-color: #eeeeee;
	font-size: 30 px;
	border: 1px dashed black;
	border-collapse: collapse;	
}

.ReadyItem {
	background-color: #00ee00;
	font-size: 30 px;
	border: 1px dashed black;
	border-collapse: collapse;	
}

#cassetteInput {
	top:120px; 
	position:absolute; 
	display:none;
}

#cassetteInput.visible {
	display:inline;
}

.keypadDiv {
	top: 120px;
	position: absolute;
}

/* инкассация reject кассеты*/

/* div Для отображения таблицы с принятыми купюрами*/
#billsBody {
	overflow-x: hidden;
	text-align:center;
	height:500px;
}

#billsTitle {
width:100%;
text-align:center;
font-size:30px;
margin-bottom:20px;
}

/* Отображение подсказки и кнопки завершения */
.encashment-reject #box {
position:absolute;
top:500px;
height:100px;
left:0px;
width:100%;
text-align:center;
}

/* Подсказка */
.encashment-reject #hint {
font-size:30px;
}

/* Кнопка ОК */
.encashment-reject #complete {
width:150px;
height:50px;
background-repeat:no-repeat;
margin-left: 750px;
margin-top: 50px;
}

/***************************** стили для showAlert (вывод сообщения)  *****************************/
/* Слои для вывода различных сообщений, отображаемых в процессе работы киоска;
по умолчанию накладываются поверх всего содержимого страницы и скрывают его собой */
#modalBG {
	position: absolute;
	top:0px;
	left:0px;
	height:1024px;
	width:1280px;
	z-index:999;
	display:none;
	text-align: center;
	vertical-align: middle;
	--background-color:#eeeeee;

	/* Можно использовать картинку на весь экран */
	/* IE9 */
	opacity: .70;
	/* IE <= 8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#55FFFF00);
	/*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);*/
}

/* стили для фона */
#alertDiv {
	display: none;
	padding:0px;
	position: absolute;
	top:0px;
	left:0px;
	height:1024px;
	width:1280px;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
}
/* стили для содержимого */
#alertMessageDiv {
	display:block;
	padding:50px;
	font-size:40px;
/*	height:500px;*/
	width:900px;
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
	z-index:1000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFF00, endColorstr=#550000FF);
}
/* кнопки при выводе сообщения */
.alertButton {
	display:inline;
	margin: 5px 10px 5px 10px;
	background-repeat: no-repeat;
}

/* Keypad */

/* Экранная keypad для ввода цифр */
.inputArea {
	display:inline;
	position:absolute;
	left:770px;
	top:200px;
	width:470;
	height:588px;
	z-index:300;
	padding:5px;
	overflow:hidden;
	background-image:url('../images/inputnumber-bgr-right.png');
	
}

/* кнопка keypad'а */
.keyPadButton {
	display:inline;
	background-repeat: no-repeat;
	width:117px;
	height:117px;
}
.Backspace {
	display:inline;
	background-repeat: no-repeat;
	width:240px;
	height:117px;
}

#add {
	display: none;
	font-size: 35px;
	font-weight : normal;
	color: black;
	position:absolute;
	top:420px;
	left:20px;	
	text-align: left;
	z-index:90;

}

/* data-entry  */
#fieldName {
	font-size: 25px;
	font-weight : normal;
	color: black;
	position:relative;
	top:80px;
	left:50px;	
	text-align: center;
	vertical-align: bottom;	
	text-indent: 0px;	
	padding: 0px;	
	z-index:90;
	height:100;
	width:650;	
}

#fieldValue {
	display:none;
	font-size: 50px;
	font-weight: normal;
	color: black;
	position:absolute;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	background:white;
	border-color:red;
	border-style:solid;
	border-width:3px;
	top:200px;
	left:100px;	
	height:70px;
	width:550;
}

#fieldValue.visible {
	display: inline;
}

#selectValue  {
	display:none;
	font-size: 50px;
	font-weight: normal;
	color: black;
	position:absolute;
	text-align: center;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	background:white;
	border-color:gray;
	border-style:solid;
	border-width:3px;
	top:200px;
	left:100px;	
	height:70px;
	width:550;
}

#selectValue.visible {
	display: inline;
}

#fieldDescription {
	display:block;
	font-size: 30px;
	font-weight : normal;
	position:relative; 
	top:370px;
	left:50px;	
	text-align: middle;
	vertical-align: middle;	
	text-indent: 0px;	
	padding: 10px;	
	height:50;
	width:700;
}

#fieldComplete {
	display: inline;
	position: absolute;
	left: 310px; 
	top: 310px; 
	width:158px;
	height:90px;
}

#minCountWarning {
	display: inline;
	position: absolute;
	left: 50px; 
	top: 390px; 
	width: 700px;
	font: 25px;
	color: red;
}

.encashment-reject .billTable {
	font:25px;
}

/* Отображение журнала платежей encashment-billacceptor-view.js */

.billTableHeader  td {
	text-align:center !important;
	vertical-align:middle;
	font-weight:bold;
	background:#FAFAD2 !important; 
}

.billTable  { 
	border: 2px double black;
	border-collapse: collapse;
}

.billTable td { 
	border: 1px solid black; 
	border-collapse: collapse;
	vertical-align:middle;
	text-align:right;
	background:white;
}

.billTotal  td{
	background:#FAFAD2;
}

.billTableFooter  td {
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	background:yellow;
}

/* Отображение журнала платежей encashment-billdpspenser-view.js */

.cassetteTable  { 
	font-size:30px;
	border: 2px double black;
	border-collapse: collapse;
}

.cassetteTable td { 
	padding: 5 5 5 5;
	border: 1px solid black; 
	border-collapse: collapse;
	vertical-align:middle;
	background:white;
}

/* Отображение журнала платежей encashment-payments-view.js */

.paymentTableDiv {
	width:500px;
	overflow-x:hidden;
	overflow-y:auto;
	height:400px;
}

.paymentTableHeader  td {
	text-align:center !important;
	vertical-align:middle;
	font-weight:bold;
	background:#FAFAD2 !important; 
}

.paymentTable { 
	border: 2px double black;
	border-collapse: collapse;
}

.paymentTable td { 
	border: 1px solid black; 
	border-collapse: collapse;
	vertical-align:middle;
	background:white;
}

.paymentTotal  td{
	background:#FAFAD2;
}

.paymentTableFooter  td {
	text-align:right;
	vertical-align:middle;
	font-weight:bold;
	background:yellow;
}

/* общие стили */ 

.redText {
	color: red;
	font-weight: bold;
}

.redCaption {
	height: auto;
	width: 400px;
	background: red;
	font-weight:bold;
	color:black;
	font-size:30px;
	text-align:center;
	border:1px solid #000000;
}
