﻿
#complete {
background-image:url('..\images\en\ok.png');
}

#footer #continueButton  {
	background-image:url('..\images\en\cancel.png');
}

#fieldComplete {
background-image:url('..\images\en\ok.png');
}

#fieldComplete.disabled{
background-image:url('..\images\en\ok_disabled.png');
}